[2013-11-01 11:57] krlmlr opened #4 "Update NEWS.md"
Add new features since then.

There's some logic in the `Makefile` to create a `NEWS.Rd` from it. Requires some Haskell modules, wasn't able to run it yet.

[2013-11-03 02:54] krlmlr opened #5 "Accelerate measurement of dimensions"
Currently, each string to be measured requires one run of `latex`. This is horribly inefficient.

The following scenario could help:
- On demand, start `latex` and grab its stdin and stdout
- When a text needs to be measured, write to stdin and listen to what is printed on stdout
- When closing the device, finish the process

Module `latexStrWidth.R`.

[2013-11-03 21:46] #4 closed, assigned to krlmlr

[2013-11-04 22:52] krlmlr opened #7 "Check code in forks"
- https://github.com/sietse/RTikZDevice
- https://github.com/aussetg/RTikZDevice/commit/010783f906dae0651c83111fc98a586461342506
- https://github.com/yihui/tikzDevice/tree/maintenance/refactor-vignette
- https://github.com/corecode/RTikZDevice/commit/41d9a26eca01434ff23843153278b9746284fb5d

[2013-11-04 22:54] krlmlr opened #8 "Check issues in original 0.7 milestone"
https://github.com/Sharpie/RTikZDevice/issues?milestone=7&page=1&state=open

[2013-11-05 08:17] krlmlr opened #9 "Decide which version of R to support"
- R 2.15.latest?
- only R 3.0?

[2013-11-05 08:19] krlmlr opened #10 "Testing for other R versions"
- R.devel
- Depending on #9: R 2.15

[2013-11-05 08:23] krlmlr opened #11 "Use = instead of <- for assignment"
https://github.com/yihui/tikzDevice/pull/6#issuecomment-27743025

[code]

should get us started here

[2013-11-08 03:29] #8 closed, assigned to nobody

[2013-11-08 03:47] krlmlr opened #12 "Choose T1 fontenc by default for tikzDocumentDeclaration"
See also http://stackoverflow.com/a/19851239/946850 .

https://github.com/yihui/tikzDevice/blob/master/R/deviceUtils.R#L87

Other option: Unconditionally `tikzMetricPackages` into document preamble

[2013-11-09 23:42] krlmlr opened #14 "Integration tests are a no-op on Travis"
- Comparison of output is skipped
- Test failures are not reported

[2013-11-10 15:22] krlmlr opened #16 "clean up README"
- compare NEWS at the bottom with those extracted from the commit logs
- maintainership
- cleanup

[2013-11-11 08:57] #14 closed, assigned to nobody

[2013-11-11 11:35] krlmlr opened #18 "Integration tests: Differences are not reported as failures"
Should they?

https://travis-ci.org/yihui/tikzDevice/jobs/13798069

[2013-11-11 12:35] krlmlr opened #19 "Parallel execution"
Should be able to execute multiple R scripts that open a `tikz` device in the same directory, even with the same metrics cache.
- Unique temporary files
- Atomic operations for updating the metrics cache

[2013-11-11 13:54] krlmlr opened #20 "Import remaining issues from original repo"
https://github.com/Sharpie/RTikZDevice/issues?milestone=9&page=1&state=open

https://github.com/Sharpie/RTikZDevice/issues?milestone=none&page=1&state=open

[2013-11-12 15:55] krlmlr opened #21 "Setting options(tikzMetricsDictionary) only works once per session"
Want to be able to change location of TikZ metrics dictionary mid-session. Reason: Different plot scripts need to be isolated (cf. #19), but want to be able to test these scripts individually without restarting R session.

Steps to reproduce:
- New R session
- Set option to use a new file
- tikz something
- Change option to another new file
- tikz again
  -> the second file is not created, but sho

[2013-11-13 00:14] krlmlr opened #24 "Post to mailing list"
https://lists.r-forge.r-project.org/cgi-bin/mailman/listinfo/tikzdevice-bugs

There's still some activity there, at least it seems that Cameron's on the list. Perhaps we can ask users to test the current RForge version (once there's a stable one that passes checks).

[2013-11-13 20:06] #9 closed, assigned to nobody

[2013-11-15 08:27] krlmlr opened #27 ""transparent" parameter has no effect"
The TeX output looks right (`fill opacity=0.0`), but when I include the PDF it still overwrites everything. Investigate. (Internal note: `totals-1-[lr]`.)

Possible code location: https://github.com/yihui/tikzDevice/blob/8a2f7e9b90ddc5ff1d2f42833a77ed970fabfde4/src/tikzDevice.c#L1165

[2013-11-15 11:03] krlmlr opened #28 "Make output of timestamp optional"
It's annoying when using version control. Look for `Created by` in `tikzDevice.c`.

[2013-11-20 20:39] #10 closed, assigned to nobody

[2013-11-20 20:40] krlmlr opened #29 "Build on WinBuilder"
...to make sure it passes `R CMD check` on Windows.

[2013-11-20 23:24] #16 closed, assigned to krlmlr

[2013-11-21 08:48] #29 closed, assigned to nobody

[2013-11-21 19:11] #24 closed, assigned to nobody

[2013-11-21 19:13] krlmlr opened #30 "Release to CRAN"
http://cran.r-project.org/web/packages/policies.html

[2013-11-24 09:51] stla opened #31 "Very slow plots with tikzDevice 0.7.0 and gplots 2.12.1"
Hi,
I cannot knit the following Rnw file when I'm using:
-  R-3.0.2 with tikzDevice 0.7.0 and gplots 2.12.1

However it works fine with:
-  R-2.15.3 with tikzDevice 0.6.3 and gplots 2.11.0

I also paste the log file behind the Rnw file. There's no error message: the compilation is freezed whenever it is at the first plot chunk.

**Rnw file**:

[code]

**log file** :

[code]

[2013-11-24 22:53] krlmlr opened #32 "Indent with two spaces"

[2013-11-25 09:52] #31 closed, assigned to nobody

[2013-11-28 08:40] krlmlr opened #33 "Allow specifying dimensions of a plot in terms of free space on the page"
- Measure also `\textwidth`, `\linewidth` and `\textheight`

[2013-12-04 10:40] rmatev opened #34 "getDocumentPointsize() is broken"
Internal function getDocumentPointsize() is broken. This also breaks the logic of tikz(), i.e. pointsize=10 is always used as default if not specified. To reproduce:

[code]

[2013-12-05 10:12] #34 closed, assigned to krlmlr

[2013-12-06 00:39] krlmlr opened #38 "Allow creating plots using the "standalone" document class"
Such plots could be used both as standalone documents and included in the main document.

[2013-12-06 17:28] krlmlr opened #40 "Use formatR for formatting usage in vignette"
once current `formatR` is released to CRAN

simply revert fe4c9a853cb7b49673b

[2013-12-10 01:57] krlmlr opened #41 "Allow changing "sanitize" option for active device"
To allow using `showViewport()` which tries to render underscores for a `ggplot`.

[2013-12-18 08:54] krlmlr opened #42 "persp visual tests with R-devel"
https://travis-ci.org/yihui/tikzDevice/jobs/15628910

[2013-12-19 20:03] #30 closed, assigned to krlmlr

[2013-12-19 23:45] krlmlr opened #43 "Rethink semantic versioning"
@yihui: Once a version is released, CRAN checks that use the same version fail. Hence it's necessary to upgrade the version. Hadley does so by setting the fourth position to 99, the version remains unchanged until a new CRAN release.

How about the following policy for `tikzDevice`:
- Once work in the master branch begins, the fourth position of the version is set to 1, indicating an "unstable" ve

[2013-12-20 23:33] #43 closed, assigned to nobody

[2013-12-21 00:10] yihui opened #44 "The inconsolata package"
http://www.r-project.org/nosvn/R.check/r-devel-windows-ix86+x86_64/tikzDevice-00check.html

due to the headache http://tex.stackexchange.com/questions/119925/inconsolata-missing-after-miktex-update

[2014-01-01 17:35] aussetg opened #46 "Error in getMetricsFromLatex(TeXMetrics)"
Mac OS X 10.9, Last Tikzdevice version, last Knitr version, XeLaTeX

locale:
[1] fr_FR.UTF-8/fr_FR.UTF-8/fr_FR.UTF-8/C/fr_FR.UTF-8/fr_FR.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] devtools_1.4.1 digest_0.6.4   evaluate_0.5.1 httr_0.2       memoise_0.1    parallel_3.0.2 RCurl_1.95-4.1
 [8] stri

[2014-01-02 10:39] #44 closed, assigned to nobody

[2014-01-03 00:09] krlmlr opened #47 "Using console=TRUE with Sweave"
Newlines seem to be trimmed by Sweave in `tex` mode, so the first `\begin{tikzpicture}` appears on the same line as the second comment line (when compiling the "console" example in the vignette). A workaround would be to add `\relax` after the second comment line, or to (optionally) drop comments altogether (see #28).

Reported by Bill Venables.

I have posted to R-devel about this.

[2014-01-05 14:11] #19 closed, assigned to krlmlr

[2014-01-05 14:12] krlmlr opened #50 "Lock metrics cache"
to avoid race conditions when attempting parallel executions. See #19.

Not sure if it's already locked, though.

[2014-01-05 18:38] #47 closed, assigned to nobody

[2014-01-05 19:21] krlmlr opened #51 "Acceptance tests for using tikz from knitr and Sweave chunks"
Currently not tested at all, see e.g. #47.

[2014-01-15 10:23] smason opened #52 "tikzAnnotate doesn't call TikZ_CheckState"
I've been trying to add in various tikz calls using `tikzAnnotate`, but am struggling to get it doing the "right" thing because `TikZ_Annotate` doesn't call `TikZ_CheckState`; i.e. the following code:

[code]

only works/generates a valid file when some other graphical output is performed before `tikzNode`, such as a call to `points`.  I.e. it's broken as written, but uncommenting the `points` cal

[2014-01-15 17:09] smason opened #54 "rasters resampled during plotting"
Raster images are resampled to the "correct" width and height in inches for a given DPI during plotting, which often seems unnecessary.  For example, the following creates a large PNG file when a 3x3 pixel PNG would do.

[code]

It seems easy to modify `tikzInternal.R` to write out the original raster data, and I'm unsure why this it was implemented as is.  For reference, the `pdf` and `cairo_pdf`

[2014-01-17 14:34] #52 closed, assigned to nobody

[2014-02-25 00:16] krlmlr opened #57 "Weird issue when setting OutDec option"
See hadley/ggplot2#760

[2014-02-25 10:43] #54 closed, assigned to nobody

[2014-03-06 02:41] krlmlr opened #58 "Vignette doesn't build with pgf 3.0"
This requires a really fresh TeXlive 2013 installation with pgf 33057. Compilation leads to the following message appearing several times:

[code]

[2014-03-12 23:24] #58 closed, assigned to nobody

[2014-04-04 19:53] tpoisot opened #60 "use tikzDevice in knitr"
Hi,

I use `knitr` and `pandoc` to generate a PDF file. Basically, I have a `Rmd` file with the source, which I want `knitr` to transform into a `md` file, which `pandoc` then compiles into a (beamer) `pdf`.

My `makefile` is

[code]

I use `dev='tikz'` for my plots, but the issue is that the PDFs are generated during the `Rmd` -> `md` step (which I don't want). Is there a way to ask for `tikzDevi

[2014-05-23 20:03] fmichonneau opened #61 "Allow options to be passed to the tikzpicture environment"
I need to use a font for all my plots that is not the same as the text of my document.

This can be achieved by adding extra arguments to the tikzpicture environment for instance:

[code]

will use sans-serif fonts for the figures.

Would it be possible to add a way to pass for instance this `font` argument when using `tikzDevice`? (unless, there is a better way to change fonts in tikz devices tha

[2014-05-27 13:29] #61 closed, assigned to nobody

[2014-06-23 12:57] ghost opened #62 "Adjustable Tikz Size"
Would it be possible to change line 2076 in tikzDevice.c in order to configure the following setting from within R?
https://github.com/yihui/tikzDevice/blob/master/src/tikzDevice.c#L2076

For example "tikz(..., x=.49pt, y=.49pt)" in order to resize tikz graphics for subfigures, so that the following header is applied:
\begin{tikzpicture}[x=.49pt,y=.49pt]

[2014-07-14 02:17] jonathan-g opened #63 "dashed/dotted lines rendered incorrectly with ggplot2"
The code below in a .rnw file produces two charts with dotted lines, but in the chart produced by tikz, there is a thin solid line overlapping the dotted line, which is not present in the chart produced without tikz.

I think that the thin solid line that tikz produces is not the desired behavior.

[code]

[code]

[2014-07-28 04:27] einian85 opened #64 "tikzDevice:::getMetricsFromLatex, r directory string causes error in latex command"
getMetricsFromLatex gives me this error:

[code]

so I debuged and found that the `latexCmd` created in the function is:

[code]

running this causes error, I removed the `batchmode` option:

[code]

this gives me this error:

[code]

but when I change it to :

[code]

it runs correctly.
I suggest that when making `texDir` from `tempdir()`  change `\`'s to `/`'s.

[2014-08-02 15:07] #64 closed, assigned to nobody

[2014-08-12 14:25] ironMann opened #65 "getLatexStrWidth rejects zero width value from db"
When zero value is retrieved from db, latex is called again to recalculate string width (which in my case results in zero again).

I'm not sure what is the meaning of zero width here, but `getLatexCharMetrics` already accepts it as valid when retrieved from the db.

If needed, I can share a plot when this happens a lot, causing needless invocation of latex.

[2014-08-12 15:31] #65 closed, assigned to nobody

[2014-10-05 20:20] krlmlr opened #67 "Shippable or Travis-CI?"
The "Shippable" badge doesn't work, yet Travis-CI is not used anymore. @yihui: Could you please comment on the current state?

[2014-10-06 02:48] #67 closed, assigned to yihui

[2014-10-12 14:00] CasperVector opened #68 "Add option for modifying the `lwd` unit"
In `TikZ_WriteLineStyle()` from `src/tikzDevice.c`, the `lwd` unit is hardcoded to `0.4pt` (TikZ default), which causes non-optimal line width in the resulting plots (See images links below for comparison; the font weight of Computer Modern also affects the visual effect, but that's another issue).

Changing default line width (including the grid) is quite difficult, whether with barebone graphics

[2014-11-05 09:29] mbergner opened #69 "Allow for symbolic color names"
I use a lot of figures in my thesis. It would by quite advantageous to use symbolic color names that are defined in the preamble of my document. That would also enable me to use a cmyk color profile

Currently, I use a sed script to change the

[code]

 to

[code]

depending on the rgb values. It would be nice if tikzDevice could do that. I'm a bit unfamiliar with R, but maybe we could extract the

[2014-11-10 01:38] #62 closed, assigned to nobody

[2014-11-10 03:44] #32 closed, assigned to nobody

[2014-11-10 03:58] #69 closed, assigned to nobody

[2014-11-10 04:08] #20 closed, assigned to nobody

[2014-11-10 04:12] krlmlr opened #72 "Support for pandoc (HTML and Word backends)"
This might become relevant in the context of `rmarkdown`: Producing documents that work for all backends. Probably the easist route is to offer a "tikz_png" device that implements the tikz -> tex -> pdf -> png chain.

See also https://github.com/Sharpie/RTikZDevice/issues/44 for a discussion on plotmath.

Related: #38.

[2014-11-10 04:31] #11 closed, assigned to nobody

[2014-11-10 04:31] #60 closed, assigned to nobody

[2014-11-10 04:34] #41 closed, assigned to nobody

[2014-11-14 16:41] mbergner opened #75 "Decision to draw or fill is inconsistent with the documentation"
When looking at  the documentation of [GraphicsDevice](https://github.com/wch/r-source/blob/tags/R-3-1-1/src/include/R_ext/GraphicsDevice.h), I noticed that the `col` and `fill` values of `R_GE_gcontext` are set to `NA_INTEGER` if no border or area should be drawn. The current code checks for transparency, which seems to be inconsistent.

I'm unsure if this is a problem but don't want to investiga

[2014-11-19 13:03] #75 closed, assigned to nobody

[2014-11-24 14:11] krlmlr opened #76 "LaTeX issues: "/tikz/ draw""
This just came in from Kurt Hornik:

[code]

[2014-12-11 00:03] #76 closed, assigned to krlmlr

[2014-12-11 01:19] krlmlr opened #78 "Document "symbolic colors" feature in vignette"
@mbergner: Would you like to contribute this as well?

[2014-12-11 10:06] #18 closed, assigned to nobody

[2014-12-11 10:13] #7 closed, assigned to nobody

[2014-12-11 10:34] #28 closed, assigned to nobody

[2014-12-13 21:19] krlmlr opened #84 "Unclutter argument list of tikz() function"
cf. #73

[2014-12-13 21:21] #68 closed, assigned to nobody

[2014-12-13 22:07] krlmlr opened #85 "Test with gctorture and valgrind"
Look at code in old [GNUmakefile](https://github.com/yihui/tikzDevice/blob/8206a3bb04e792367d86adda69615701858806a9/GNUmakefile).

...and at `dpylr` tests.

[2014-12-13 22:12] krlmlr opened #86 "Use inst/NEWS.Rd instead of /NEWS"
Displayed much nicer on CRAN, compare NEWS links on http://cran.r-project.org/web/packages/tikzDevice/index.html and http://cran.r-project.org/web/packages/kimisc/index.html .

[2014-12-13 23:11] #40 closed, assigned to nobody

[2014-12-17 15:37] hugoallan9 opened #87 "Calculte metric with different font"
Hi! I'm trying to do some reports with Xelatex using Open Sans Light Condensed. So I make the graphics using ggplot2 and then exporting to tikz code using tikzDevice, the problem is that all the metric calculations are performed using the LaTeX default font so the graphics dont look like they are suppose to. So question is, is there any way to tell tikzDevice to perform the calculation of width st

[2014-12-23 13:06] #86 closed, assigned to nobody

[2014-12-23 17:22] #21 closed, assigned to nobody

[2014-12-23 17:34] krlmlr opened #90 "Regression: New temporary metrics dictionary is created for every measurement"
Untested code is broken, they say. Need to add some tests then...

Introduced in #89

[2014-12-23 21:07] krlmlr opened #92 "Regression: Failing tests don't cause failure for R CMD check"
See 8c2d50b95a22430ee5e4da8d40feac4b021803ba

[2015-01-05 20:55] #92 closed, assigned to nobody

[2015-01-05 22:50] #90 closed

[2015-01-06 13:50] #63 closed

[2015-01-06 22:13] krlmlr opened #96 "Test with R versions older than 3.1.0"
Problem: Needs earlier version of `testthat` and perhaps other packages. The `cran/*` GitHub repos have tags of the form `R-x.y.z` which can be used to achieve this, until there's an automated solution like MRAN (which doesn't seem to have snapshots before August 2014).

[2015-01-07 00:22] yihui commented on #96
Fortunately we do not have hundreds of reverse dependencies on CRAN, so you should just enjoy the freedom, and bravely require R > 3.1.0 :)

[2015-01-07 00:37] krlmlr commented on #96
This requirement would be somewhat artificial and could prevent users from using it. How many users who are working with an older R version would manually dig into CRAN's archives to look for a matching version of a package? The worst that can happen to us is a bug report, and I haven't seen any so far.

If only one could automagically install a package that matches the current R version...

[2015-01-07 09:48] krlmlr opened #97 "Rename strlcpy"
Is already defined on OS X and Solaris.

[2015-01-07 10:23] #97 closed

[2015-01-09 06:50] indridiindridason opened #99 "Problem using tikzDevice with knitr (Windows)"
(Also reported at http://tex.stackexchange.com/q/222156/9128)

I can't seem to get knitr to work with tikzdevice (using Rstudio on Windows).  The problems seems to be related to spaces in, I'm guessing, the path to tikz. A simple example:

[code]
produces:

[code]

It seems clear to me that there is a problem with the path including spaces - my LaTeX installation is under "C:\Program Files\" but I

[2015-01-09 19:09] indridiindridason commented on #99
Yes, I had the exact same problem before updating to 0.8.1.

[2015-01-09 21:12] krlmlr commented on #99
It looks like the error originates [in this code](https://github.com/yihui/tikzDevice/blob/6813a07614c6c42b4fad796ce85cb5ffaef9d97a/R/latexStrWidth.R#L409). This should be solvable by either double-quoting the path to `pdflatex` et al., or by using `system2()` instead of `system()` (with a different API). Would you like to contribute a pull request?

[2015-01-10 23:04] indridiindridason commented on #99
Thanks - I'm pretty new to R but I'll poke around and see if I can figure it out and, if so, I'll submit a pull request.

[2015-01-23 15:44] minintaequ opened #100 "tikzLaTeXPackages not used with standAlone-option"
I tried to produce a standAlone tikz-Plot with an additional package as in the following example:

[code]

tikz generates the file, but the preambel is only:

[code]

Shouldn't be there the additional package siunits from tikzLaTeXPackages? What am I doing wrong?

[2015-01-24 15:04] manu93 opened #101 "Mac Os (Pumpkin Helmet) TikzDevice Crash."
Here is my problem:

I try to type `tikz("example")` and here is the message I get from R

[code]

If someone finds a way to solve it, please contact me!

[2015-01-24 22:58] krlmlr commented on #101
I can replicate this on my Linux box. Does `tikz("example.tex")` work for you?

[2015-01-25 10:07] manu93 commented on #101
Oh yes, it works, what a nice result! I really didn’t understand that I had to write the extension: I was somehow convinced that the command would have activated a LaTeX-like quartz, not a LaTeX code (much better of course).

Thank you very much for the help.

All the best,
Emanuele Belli
:

[2015-01-26 18:08] elbamos opened #103 "Memory and plots with lots of data"
When plotting with tikz, when your data size increases the number of elements on the chart goes up and quickly brings TeX to a crawl and exhausts memory.  It looks like a bunch of us have the same issue: http://stackoverflow.com/questions/26299311/tikz-takes-more-than-max-latex-memory-for-complex-r-plot

For me, I started an experiment using a sample of 6000 data points. I made a really nice rmark

[2015-01-26 22:19] krlmlr commented on #103
Would you like to share your example, perhaps after substituting your data?

[2015-01-26 22:21] elbamos commented on #103
It's rather tricky to come up with a minimally reproducible example for an issue that arises when the size of the plot grows very large!

Any suggestions on how to do that?

[2015-01-26 22:27] krlmlr commented on #103
The example can be minimal even if it's not small. Can you create data similar to your original data, so that the size of a data is a variable, say, `N`?

[2015-01-26 22:30] elbamos commented on #103
I'll give it a try today.

[2015-01-27 05:47] elbamos commented on #103
Try this rmarkdown document:

---
title: "Contrived Example"
output: pdf_document
---

[code]

[2015-02-05 06:11] elbamos commented on #103
No response? ok...

[2015-02-05 08:34] krlmlr commented on #103
Thanks for your example, I'll take a look at it when I next work on this package.

[2015-02-05 12:14] smason commented on #103
Yes, but I'm not sure what it's going to do otherwise—even rendering a million points like this to a PDF will cause most renderers to grind to a halt, I'm surprised TeX gets as far as it does!

I've tended to go with rendering to an image and then embedding this in a normal plot.  For example, rewriting your example terms of R's base graphics:

    n=1000000; x=rnorm(n); y=rnorm(n)
    tikz("test.

[2015-02-05 12:42] krlmlr commented on #103
@smason: Thanks for chiming in.

It's true that it will probably take a long time to render a million data points from a PDF. But if LaTeX+`tikz` can be persuaded to create such a PDF, this is what `tikzDevice` should do. One can also convert a PDF created by the `tikzDevice` to a high-resolution PNG to accelerate rendering.

[2015-02-05 13:18] smason commented on #103
tikzDevice already works fine for me when outputting a million points, it was LaTeX that fell over with a lack of memory…

I can get up to n~=7500 in a standard LaTeX run, while luaLaTeX seems to be fine above that.  They are comparable on how long each takes to run on smaller inputs, luaLaTeX just doesn't seem to have the hard limits on memory use.  I've tried as far as 30k points, which took abo

[2015-02-06 02:32] elbamos commented on #103
@smason You have a good point -- I'm using tikzDevice with the tufte-handbook rmarkdown template, which forces pdflatex, apparently because the template doesn't want to compile with luatex or xetex.  I'm not sure whose bug it is then, but it may not be a tikzDevice bug.

Just to clarify, my contrived example is only intended to replicate the error.  My use case is not so trivial.  I'm trying to ma

[2015-02-06 10:06] krlmlr commented on #103
If it works with LuaLaTeX, you can compile a standalone plot and use `\includegraphics` with the generated PDF in your final document. If the preambles are similar (especially w.r.t. font settings), the result should be virtually identical. This is what I usually do to streamline the process -- I don't want to `tikz` all of my plots each time I compile the document that contains them. If it helps,

[2015-02-06 10:12] smason commented on #103
When you say "a plot with another R device would get blurry and mushy and ugly", what other devices did you try?  They all end up very similar in my experience, you just need to make sure you're asking for a high enough resolution version if it's being rasterised.  Otherwise, try a vector format like pdf (the cairo_pdf device is most flexible in my experience).

Just doing a bit of searching, and

[2015-02-06 17:51] elbamos commented on #103
@krlmlr  thank you, I would appreciate taking a look at that.  I've been meaning to try to port the tufte-book class to rmarkdown, which should work with luatex/xetex as well.  All I wanted was a pretty set of charts, now I'm learning tex... ugh...

@smason I used a scatter as an example because it was easy to trigger the error.  I already converted most of the scatterplots to hexbins.  The ones t

[2015-02-08 01:17] elbamos commented on #103
I was able to get the tufte class to (mostly) compile with luatex, which resolved the memory issue.  Looking closely at the plots, I think perhaps what is making them prettier than CairoPDF plots, may be the way tikz handles alpha.  I'm happy to help try to provide examples or whatever, but I'm closing this issue as resolved.  Thanks guys!

[2015-02-08 01:17] #103 closed

[2015-02-09 15:10] smason commented on #103
Hope this post doesn't reopen this issue!

@elbamos I'd personally be interested in seeing what you mean.  In my (limited) testing I have noticed that tikz tends to use a slightly finer line-width by default than cairo, but otherwise things look *very* similar.  Then again, I do tend to go for Tufte-style minimalist black-and-white plots wherever I can.

[2015-02-10 16:36] elbamos commented on #103
@smason Ok, I'm making some examples to give to you.  (Don't judge my plots lol...)  Looks like its going to come to a total of 8 MB or so of pdf files - should I e-mail them?

[2015-02-10 16:42] smason commented on #103
Please do, my email should be on my github profile…
  Sam

On Tue Feb 10 2015 at 4:36:03 PM elbamos <notifications@github.com> wrote:

[2015-02-11 00:28] elbamos commented on #103
Sent.  If you don't receive them within an hour or so let me know.

[2015-02-11 00:47] elbamos commented on #103
Ok, that didn't work, so I uploaded them here:  https://github.com/elbamos/samson

[2015-02-23 09:51] duncjb opened #105 "Error in file(texLog,"r") : cannot open the connection"
Windows 7 SP1, R 3.1.2, knitr 1.9, tikzDevice 0.8.1. Session info:

If I run any .Rnw file using a tikz device anywhere, it comes up with this issue. The output from any file, no matter how basic (e.g. just setting the device to tikz and issuing a base graphics scatter of random data). This is the output:

If I use a PDF device, it works fine, but obviously without the tikz features. I've been usi

[2015-02-23 23:12] krlmlr commented on #105
Thanks for reporting this. Could you please post such a "minimal" `.Rnw` file?

[2015-02-24 12:56] duncjb commented on #105
Here you go:

And that gets me the same message as above:

[2015-02-25 08:38] krlmlr commented on #105
@yihui: Do you have access to a Windows machine with an installation of LaTeX?

[2015-02-25 17:00] yihui commented on #105
@krlmlr I do, but I cannot reproduce this issue.

[2015-02-25 21:34] krlmlr commented on #105
@duncjb: How does your call to `knitr::knit` look like? Does the `[path]` part of the path in the error message contain any unusual characters, such as whitespace? Could you try knitting the following document:

[code]

Where does your LaTeX installation reside? Is `tikzDevice` aware of it? Does the following `.R` script work for you:

[code]

(Those are all just wild guesses in the hope to find t

[2015-02-26 09:59] duncjb commented on #105
Your wild guesses proved spot on: the temp folder path had a white space in it and that was causing the problems. I changed the temp directory location, and it works now. Not entirely clear why it used to work but then stopped, but this seems to have fixed it.

Thank you so much for your help - very much appreciated.

[2015-02-26 09:59] #105 closed

[2015-02-26 10:14] krlmlr commented on #105
Thanks for your feedback. This issue is a dupe of #99 then.

[2015-02-26 10:15] krlmlr commented on #99
@indridiindridason: Any news on this issue?

[2015-03-14 19:04] sgiannerini opened #106 "knitr + tikz permission issues?"
Dear all,

my working knitr + tikz config (since some years) is now broken probably due to some
permission problem that showed up after an upgrade (R + Miktex).
A student of mine has the same issue on her laptop (similar config).
I am on Windows 8.1 Pro 64 bit, here is a reproducible example,
the file knitr_report.Rnw  is as follows:

** begin file knitr_report.Rnw

    \documentclass[11pt]{articl

[2015-03-15 01:46] yihui commented on #99
Since this issue seems to have affected multiple users, and the fix should be simple, I just pushed a fix in the `bugfix/quote-path` branch (46339ad). Please test it by installing this version:

[code]

Note you may need to install [RTools](http://cran.rstudio.com/bin/windows/Rtools/).

[2015-03-15 01:46] yihui commented on #106
Seems to be the same issue as #99.

[2015-03-15 22:29] indridiindridason commented on #99
I'm not sure I'm testing this correctly but this was my R chunk:

    <<dev="tikz", sanitize=TRUE>>=
      sessionInfo()
      library(knitr)
      library(ggplot2)
      library(Rtools)
      devtools::install_github('yihui/tikzDevice@bugfix/quote-path')
      library(tikzDevice)
      sessionInfo()
      qplot(1:10, 1:10)
    @

and it seems the problem remains - this was the result:

    * inst

[2015-03-15 22:44] yihui commented on #99
Yes, you were testing it correctly, and it was just me making a stupid mistake. Please reinstall that branch and test again. Thanks!

[2015-03-16 03:58] indridiindridason commented on #99
Tried it again and now I get this:

    Using TikZ metrics dictionary at:
	vsimple-tikzDictionary
    Quitting from lines 12-20 (vsimple.Rnw)
    Error in createLockFile(lockname) : cannot create lock file
    Calls: knit ... evalWithoutInterrupts -> .Call -> dbFetch -> dbFetch -> createLockFile

[2015-03-16 04:07] yihui commented on #99
@indridiindridason I guess you need to delete the files under the directory of vsimple.Rnw that have `vsimple-tikzDictionary` in the filenames. Or just delete everything except the source files.

[2015-03-16 04:14] indridiindridason commented on #99
@yihui Yes, that seems to work - fantastic. Before I tried that, I found this:

    devtools::install_github("rdpeng/filehash@next")

from https://github.com/Sharpie/RTikZDevice/issues/66, which also seems to solve the problem.  Thanks for looking into this and apologies for not having found the time to try to figure it out myself earlier.

[2015-03-16 04:35] yihui commented on #99
@indridiindridason Glad to know that. Thanks for helping test the fix!

[2015-03-16 04:39] #99 closed

[2015-03-16 04:39] #106 closed

[2015-03-16 04:41] yihui commented on #106
Should be fixed now. Please `devtools::install_github('yihui/tikzDevice')`. Thanks!

[2015-03-16 09:19] sgiannerini commented on #106
Dear Yihui,

many thanks for looking into the matter, I have tried the fix but it does not seem to solve the issue.
After some debugging of the function tikzDevice:::getMetricsFromLatex I came to the conclusion that
the problem is related to the fact that pdflatex does not accept  path names that use the old DOS 8.3 format with tilde, see

http://tex.stackexchange.com/questions/183568/using-8-3-pa

[2015-03-16 14:45] yihui commented on #106
@sgiannerini I just pushed another fix. Could you test it again? Thanks a lot for the investigation and identifying the underlying problem.

[2015-03-16 15:04] sgiannerini commented on #106
@yihui thank you very much for the prompt reply, this seems to fix the issue.
ciao
Simone

[2015-03-17 13:00] krlmlr commented on #106
@yihui Thanks a lot for taking care of this. I think this fix alone warrants a CRAN release.?

[2015-03-17 14:54] yihui commented on #106
@krlmlr Yes, I think so.

[2015-03-25 21:49] casallas commented on #46
I was able to replicate this error with a different file that had
[code]
in the preamble. Strangely using `xcolor` without the `table` option solved this issue!
I also use `hyperref` in my preamble but that didn't seem to cause any issues.

[2015-03-25 21:56] krlmlr commented on #46
@tobi2185: Sorry, I missed that -- the `dvips` option for `hyperref` is clearly wrong, as `tikzDevice` uses pdflatex (or xelatex or lualatex, but no latex).

@casallas: Thanks. Would you like to share an example? Please also post your `sessionInfo()`.

[2015-03-25 22:21] casallas commented on #46
sure, this is the most minimal example I could think of

[code]
This is my `sessionInfo()`
[code]

And the knitr output is in this gist: https://gist.github.com/casallas/faa87f2aee256666a6fa

It may be worth noting that I'm using `MacTeX 2014`, and `xcolor v2.11 (2007/01/21)`

[2015-03-25 22:24] casallas commented on #46
just to recap removing the `table` option from `xcolor` makes the example work, i.e.,
[code]

[2015-03-25 22:26] krlmlr commented on #46
I can replicate this on my Ubuntu system. This is so weird. :+1: for tracking this down!

[2015-03-25 22:33] krlmlr commented on #100
Sorry for my slow reply. I can only guess: Options are case-sensitive in R, have you tried `options(tikzLatexPackages=...)`?

[2015-03-25 22:44] krlmlr opened #107 "Don't pass any options to packages included by default"
As per #46: This might be a frequent source of error.

Instead of using `\usepackage[yyy]{xxx}`, use `\PassOptionsToPackage{yyy}{xxx}\usepackage{xxx}`.

[2015-03-25 22:44] krlmlr commented on #46
@casallas: Please try adding `\PassOptionsToPackage{table}{xcolor}` in a separate line just before the `documentclass` declaration instead of specifying `[table]`. I have no idea if this option is then actually passed to the `xcolor` package.

@yihui: I'm afraid this might be a `knitr` issue after all. How about implementing something similar to #107 for `knitr`?

[2015-03-25 23:07] casallas commented on #46
worked like a charm! In any case I wasn't using table colors so I wasn't suffering from the lack of the `table` option in `xcolor` :)

[2015-03-25 23:13] casallas commented on #46
coming back to @aussetg's problem, even though I have 0 experience with XeLaTeX, using my minimal example I was able to track down the following problematic things in his preamble that knitr didn't like:

[code]

generating the same problems as with `\usepackage[table]{xcolor}`!

[2015-03-26 10:22] krlmlr opened #108 "Test run with empty document before plotting"
To check if the preamble used by `tikzDevice` will work at all. Fixes #46.
- [ ] As part of the `tikz()` call, fails without opening the device if something's wrong
- [ ] Option to disable this check (for speedup)
- [ ] Don't run check if the same preamble has been verified in this R session

Incidentally, the "precompiled preamble" option of #5 solves all of this.

[2015-03-26 10:23] krlmlr commented on #46
@casallas: Thanks a lot for your efforts. Any of the lines in the example above create an invalid preamble for *all* measurement runs of `tikzDevice`. For the user, it's difficult to deduce the true reason (malformed preamble) from the error message.

Now I think we need to add a first run with an (almost) empty document using whatever `tikzDevice` thinks should be the preamble. If this fails, we

[2015-03-26 20:43] yihui commented on #46
@krlmlr **knitr** adds `\usepackage{color}` to the preamble automatically, and that could be a problem, since @casallas wants to use **xcolor** instead.

[2015-04-10 15:15] krlmlr opened #109 "Bump filehash dependency to 2.3"
as soon as the updated version is on CRAN.

https://github.com/rdpeng/filehash/commit/0e8fab6a2be175adfd533a471ae27bc3ec7c48ff

(Not yet: http://cran.r-project.org/web/packages/filehash/index.html)

[2015-04-13 14:43] krlmlr commented on #33
Look at the logfile if `geometry` is loaded. Probably not worth the hassle, though -- perhaps a helper function to parse the log file would be good already.

[2015-04-13 15:02] #101 closed

[2015-04-14 23:18] krlmlr opened #111 "Have TikZ_Close call TikZ_NewPage"
instead of duplicating code. Remove everything before https://github.com/yihui/tikzDevice/blob/master/src/tikzDevice.c#L680.

[2015-04-18 21:06] casallas commented on #46
just a follow-up to @yihui's comment, using both `color` and `xcolor` seems to be problematic, indeed. You can either get latex warnings or, as shown above, errors. However, (from my understanding) `xcolor` supersedes `color`, so a hook can be used to replace the latter in `knitr`, such that

[code]

If the table option is not necessary, just change the `gsub` line to

`gsub('\\usepackage[]{color}

[2015-04-30 22:44] krlmlr opened #112 "Allow loading package even if LaTeX is not installed"
Postpone warning/error in `.onLoad` to actual invocation of `tikz()` function, so that the package can be built even if LaTeX is not installed (e.g., on AppVeyor).

[2015-05-07 16:46] fmichonneau opened #113 "providing a file without extension to tkiz() crashes R (segfault)"
[code]

[2015-05-07 21:49] yihui commented on #113
Sounds like a duplicate of #101 and has been fixed.

[2015-05-08 13:38] fmichonneau commented on #113
Yes, it's now fixed. Thanks!

[2015-05-08 13:38] #113 closed

[2015-05-20 10:03] KevinKotze opened #114 "TeX was unable to calculate metrics for the following string or character: m"
While I had tikzDevice working nicely both within knitr and separately, it no longer wants to work for me. When dealing with a time series object it tells me that "TeX was unable to calculate metrics for the following string or character: Time" and when dealing with a simple plot as in the example in the manual it gives the above error. Have updated all my packages, without success. Have also made

[2015-05-21 14:15] krlmlr commented on #114
Thanks for reporting this. Could you please try the latest development version? Please install via

[code]

[2015-05-22 09:24] KevinKotze commented on #114
Many thanks for your mail. Have done so but received the exact same output. Will try to have a more detailed look into it over the weekend.

[2015-06-11 18:09] leeper commented on #46
A seemingly related issue has come up with the `beamerarticle` LaTeX package here: http://stackoverflow.com/questions/30697967/knitr-beamerarticle-dev-tikz

[2015-06-16 15:10] manu93 opened #115 "Bug tikzDevice in R"
Hello,

I have just downloaded the new R version:
R version 3.2.0 (2015-04-16)

I downloaded the last version of filehash.r package and tikzDevice.r, but when I typed:
library(tikzDevice)

R gave me the following message:
-----------------------------------------------------------------------------
Error in dyn.load(file, DLLpath = DLLpath, ...) :
  unable to load shared object '/Library/Framework

[2015-06-16 15:12] krlmlr commented on #115
I don't have a Mac, but it looks like you need to rebuild the package. Please run in a fresh R session (perhaps from the terminal):

[code]

Everything should work afterwards.

[2015-07-03 09:15] #115 closed

[2015-07-03 09:16] krlmlr opened #116 "CRAN notes"
Need to explicitly declare non-`base` imports.

http://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-gcc/tikzDevice-00check.html

[2015-07-14 05:34] krlmlr opened #117 "Allow muting messages"
See yihui/knitr#1073.

[2015-08-01 08:35] gdkrmr opened #118 "no ending in filename causes segfault"
[code]
I think a simple error or automatic change to ```tikz("test.tex")``` with a warning would be in order here

[2015-08-02 15:53] krlmlr commented on #118
This sounds like a dupe of #101 and should be fixed in the development version.

[2015-08-04 12:14] tpellard opened #119 "Error with fontspec and option no-math"
Trying to load the LaTeX package` fontspec` with the option `no-math` in an .Rnw file that uses tikzDevice produces an error `Error in getMetricsFromLatex(TeXMetrics)`. The same error also occurs when the package `mathspec` is loaded.

Here is a minimal example:
[code]
[code]
[code]
Commenting out either the `no-math` option in the package declaration or `dev="tikz"` resolves the problem.

This is

[2015-08-09 18:07] gdkrmr opened #120 "\tikzexternalize and getMetricsFromLatex"
[code]

Gives an error in ```getMetricsFromLatex```, if you add ```\tikzexternaldisable``` at the end of the preamble it works fine, maybe this should be made standard behaviour

[2015-08-12 00:00] #57 closed

[2015-08-12 05:26] krlmlr commented on #57
Thanks for looking into this. A CRAN release is overdue, I was waiting for the update of filehash, but it looks like it'll be some time. (I asked Roger Peng several times, even submitted a pull request to fix CRAN errors -- to no avail.)

Is there a better alternative to filehash?

[2015-08-12 14:13] yihui commented on #57
Let me ping him in a minute.

[2015-08-16 15:03] yihui commented on #57
The new version of filehash is on CRAN now.

[2015-08-25 16:10] bleutner opened #121 "No transparency with raster grobs, e.g. ggplot2::geom_raster"
Hi,

ggplot2 plots containing a `geom_raster`, or any other rasterGrob are saved by `tikz()` as png files without transparency.

     tikz("test.tex", standAlone = TRUE)
     ggplot() +
        geom_point(aes(x = 2, y = 3))+
        geom_raster(aes(x = 1:5, y = 1:5, fill = c(1:4, NA)), alpha = .5)+
        scale_fill_gradient(na.value = NA)
     dev.off()
     system("pdflatex --interaction=nonsto

[2015-08-26 22:39] krlmlr commented on #121
Thanks for the bug report. I can replicate the issue on Ubuntu.

Changing `png_type` to `'cairo'` and using `bg = 'transparent'` in the call to `png` in the [code](https://github.com/yihui/tikzDevice/blob/f539a1b07450c7697d1e59e3af1c11d7b5b6f6b5/R/tikzInternal.R#L19-L79) resolves the issue for me, but I'm not at all sure about Windows and OS X. @yihui: Do you have access to a Mac and/or to a Windo

[2015-08-27 01:46] yihui commented on #121
Your fix looks good to me, as long as you figure out the Travis failure.

[2015-08-27 05:22] krlmlr commented on #121
Yes, of course -- tests that use raster images are rendered differently now. I'll take a look at Windows and OS X in due time, too.

@bleutner: Which OS are you on? Does the fix work for you? Please install with `devtools::install_github("yihui/tikzDevice#122")`.

[2015-08-27 08:25] bleutner commented on #121
The fix works perfectly.

I am also on Ubuntu (14.04 and 15.04, the fix works for both)). I don't have  a Windows or OSX machine, sorry.

[2015-08-27 10:05] smason commented on #121
works for me under OS X (10.11)

[2015-08-27 10:11] krlmlr commented on #121
@smason: Thanks for your feedback. Does it work without the patch, too?

[2015-08-27 10:20] smason commented on #121
huh, didn't think of looking at the internal handling…  Yes, both before and after works fine but this patch shouldn't touch the OS X code path.

[2015-08-27 10:34] krlmlr commented on #121
@smason: Well, the code path is different only if `capabilities("aqua")`. According to the R docs, this is true

What does `capabilities("cairo")` return on your system? Do you have a chance to test the other code path?

[2015-08-27 10:48] smason commented on #121
I personally install R with `homebrew`, and it's true there as well.
I can't see an easy way of overriding capabilities, so I hacked the code to force the other code path (and checked with a `print`).  Everything seems OK there now as well, but has lots of white without the patch.

[2015-08-27 10:57] krlmlr commented on #121
@smason: Thanks a lot for double-checking.

@yihui: If cairo can be expected to be available on all three major platforms nowadays (stll have to check on Windows), do you see a reason for maintaining the OS X "quartz" code path?

The help for options("bitmapType") reads:

It appears that [the check for this option](https://github.com/yihui/tikzDevice/blob/f81e4b85fc36deef2100f60d94d763fefdfa2b59/R

[2015-08-27 11:51] smason commented on #121
Personally, I'd default to cairo, and fall back to platform specifics only if/when needed.
I've always ensured my builds have cairo enabled as it has had the best support for features I cared about (mostly transparency and fonts), but other people may build differently…

[2015-08-27 12:59] krlmlr commented on #121
On my Windows machine with R 3.2.0, `capabilities("cairo")` is true. (It wasn't for R 2.12.) I searched the R news for cairo, but haven't found any hint since when this is the case. And there's also the [Cairo package](https://cran.r-project.org/web/packages/Cairo/index.html), which also works for me on Windows -- now I'm totally confused :-o

[2015-08-28 02:07] yihui commented on #121
@krlmlr I don't fully understand why the original authors choose quartz() on OS X. I know in a few cases antialiasing does not work well for `png(type = 'cairo')`, e.g. http://r.789695.n4.nabble.com/png-type-cairo-point-symbols-without-boarders-are-not-anti-aliased-td4678745.html Anyway, personally I'm not too worried about `capabilities('cairo')` (should be TRUE for most R users now). If R 2.x is

[2015-08-28 09:55] krlmlr commented on #121
@yihui: We definitely should drop R 2.x support in the upcoming release. Thanks for the information on cairo. What I still don't understand: Can we expect CairoPNG to work if `capabilities("cairo")` is `TRUE`?

[2015-08-28 15:09] yihui commented on #121
CairoPNG is from the R package Cairo, which does not require `capabilities('cairo')` to be TRUE. It will always work as long as you can install it (which requires cairo as a system dependency on *nix when installing the package).

[2015-09-10 12:31] T0J0 opened #123 "Create tikz figures forcing labels featuring LaTeX's font size modifier-commands"
Hi there,

according to my understanding of tikzDevice there is currently no option to force font size modifier-commands such as `\footnotesize` for text in plots. However, I think it would be a nice feature. E.g., in the [`xtable` package](https://cran.r-project.org/web/packages/xtable/) it can be specified. I am aware of the possibility to scale text in figures via the `pointsize` argument and b

[2015-09-10 19:26] krlmlr commented on #123
I'm not sure that changing the global font size modifier will be possible without re-creating the tikz-files. Part of this process is actually measuring text dimensions, which depend on the font size.

Also, I think this might actually work already if you add something like `\AtBeginDocument{\footnotesize}` to the LaTeX preamble.

[2015-09-11 21:14] #118 closed

[2015-09-11 21:25] krlmlr commented on #120
Does it work for you if you move `\tikzexternalize` after `\begin{document}`? I barely remember the semantics of that command, but my test shows no extra error messages, and compilation succeeds.

Also, I can only guess that `knitr` attempts to construct a suitable preamble for `tikzDevice` and uses everything before `\begin{document}` in the `.Rnw` file. @yihui: Could you please comment?

[2015-09-11 21:29] krlmlr commented on #114
Are you still experiencing problems with tikzDevice?

[2015-09-11 21:39] yihui commented on #120
I wonder why you need `\usetikzlibrary{external}` and `\tikzexternalize` at all, because **knitr** will pre-compile tikz graphics to PDF by default, which is more or less equivalent to `\tikzexternalize`.

[2015-09-11 22:01] #109 closed

[2015-09-11 22:01] #116 closed

[2015-09-11 22:14] krlmlr commented on #119
Thanks for reporting this issue. It works for me with the following equivalent preamble:

[code]

This is related to #107.

[2015-09-11 22:21] #100 closed

[2015-09-11 22:22] #87 closed

[2015-09-11 22:26] krlmlr commented on #96
Closing this -- let checkpoint and packrat take care of that :-)

[2015-09-11 22:26] #96 closed

[2015-09-12 10:29] gdkrmr commented on #120
@krlmlr: moving ```\tikzexternalize``` after ```\begin{document}``` in the above example works fine.
@yihui: it is useful for if you want to use both tikz graphics and R code in a document, knitr will only externalize stuff inside ```<<>>= ... @```

The following code complains about not having enabled ```-shell-escape``` even though I did enabled the option in r-studio and works just fine without

[2015-09-12 10:32] gdkrmr commented on #120
From the pgf manual:

\tikzexternalize[ optional arguments ]
This command activates the externalization. It installs commands to replace every TikZ-picture. It
needs to be called before \begin{document} because it may need to install its separate shipout routine.

[2015-09-12 12:11] krlmlr commented on #120
How about the following preamble:

[code]

Everything up to the commented `\begin{document}` should be used for the tikzDevice preamble, which seems to be what is desired here.

[2015-09-12 12:54] gdkrmr commented on #120
Let me tell you how I encountered the problem:

I have quite a large document (latex, not knitr) with a lot of figures that are made using the tikz device. To speed up compiling time at some point I put the external library in the preamble.

I have the preamble in a separate file (preamble.tex) and for the tikzdevice I declare the following options in all my R scripts that produce the figures:
[co

[2015-09-13 12:28] #112 closed

[2015-09-13 12:34] krlmlr commented on #120
If I'm not mistaken, you could as well have excluded the `\tikzexternalize` command from `preamble.tex` and use it only in the "main" document. I think this is a sufficiently rare corner case that would be difficult to solve in tikzDevice or knitr, and where workarounds seem to exist. Therefore, I'm not at all sure if tikzDevice or knitr should do anything about it. Perhaps we could add a "known s

[2015-09-13 12:35] #121 closed

[2015-09-13 12:43] gdkrmr commented on #120
\tikzexternalize must come before \begin{document}, else Latex aborts
with an error. This is also what the pgf manual says.

[2015-09-13 12:45] krlmlr commented on #120
Right. Have you tried the preamble I suggested before? https://github.com/yihui/tikzDevice/issues/120#issuecomment-139752645

[2015-09-13 12:50] gdkrmr commented on #120
that one works, \tikzexternalize comes before \begin{document}

On 09/13/2015 02:45 PM, Kirill Müller wrote:

[2015-09-13 12:53] krlmlr commented on #120
Does it work with knitr, too?

[2015-09-13 12:57] gdkrmr commented on #120
it fails and latex complains that \tikzexternalize has to go into the
preamble

[2015-09-14 03:23] yihui commented on #120
How about this as the first code chunk of your Rnw document?

[code]

[2015-09-14 10:29] krlmlr opened #125 "Travis builds currently broken"
Last stable: https://travis-ci.org/yihui/tikzDevice/builds/79973427

First failing: https://travis-ci.org/yihui/tikzDevice/builds/80088477

Difference: https://github.com/yihui/tikzDevice/compare/181b4b84d4b0...7196eee0fef0

Reverting this patch didn't help: https://travis-ci.org/yihui/tikzDevice/builds/80091627

I really hope this is some infrastructure glitch that goes away by itself. I don't re

[2015-09-14 15:50] yihui commented on #125
Does it fail locally as well?

[2015-09-15 08:51] krlmlr commented on #125
Local tests work (well, actually, fail, but fail differently). On Travis, it's

[code]

https://travis-ci.org/yihui/tikzDevice/jobs/80091630#L2104

[2015-09-15 08:53] krlmlr commented on #125
Just restarted the last successful build on master: https://travis-ci.org/yihui/tikzDevice/builds/79973427 . It's a pity that Travis doesn't assign new build numbers in this case, so the "last stable" might not be stable anymore.

[2015-09-15 13:31] KevinKotze commented on #114
Updated Miktek to the latest 32-bit version (2.9.5721 - following the update last week) and everything is now working once again. Thanks for the mail!!

[2015-09-15 13:31] #114 closed

[2015-09-17 13:09] krlmlr commented on #125
No infrastructure glitch, just two different failure reasons. Part of the problem fixed in da61209f7fad5860, an alternative implementation for #112 will fix the rest.

@yihui: Are you still registered with AppVeyor? https://ci.appveyor.com/project/yihui/tikzDevice shows "access denied".

[2015-09-17 15:43] yihui commented on #125
I don't know why my account was lost. I just registered again.

[2015-09-19 12:34] #125 closed

[2015-09-19 13:12] krlmlr commented on #117
Fixed in #124.

[2015-09-19 13:12] #117 closed

[2015-09-19 13:14] krlmlr commented on #85
After this and a revdep check, I guess the package is now ready for CRAN. @yihui: Is there anything else you'd like to see in this release?

[2015-09-21 02:33] yihui commented on #85
No, I don't have anything else. Please feel free to make a new release. Thanks!

[2015-09-23 16:39] pank opened #126 "[FR] Use tikzDevice with only tikzMetricsDictionary"
Hi,

##### [FR]: I would like to run `tikzDevice` without LaTeX relying only on `tikzMetricsDictionary`

###### Background
I want to produce a report on an external production machine with data I cannot copy off of the machine.  It's preferable not to install additional software, and when the machine was set up, TL wasn't installed.
`tikz` is the optimal format for graphics here since it can be in

[2015-09-23 17:01] krlmlr commented on #126
1. Creating the TeX code is certainly possible without LaTeX. As you guessed, LaTeX is needed only for measurement.
2. I tried something along those lines in #112 but reverted in favor of simplicity. Your case certainly makes sense, I'll think about it.

If you would be willing to supply a pull request, I'd be happy to review it. I think the check that currently happens in `.onLoad` should happen

[2015-09-23 17:10] krlmlr commented on #126
NB.: Try the current GitHub version: `devtools::install_github("yihui/tikzDevice")`. I think this might already work, there will be a warning (instead of an error) when the package is loaded, but measurement should resort to the cached values.

[2015-09-23 18:30] pank commented on #126
Hi,

Cool. In that case there are really two things needed for this IMO. First and most importantly the fix you suggest. This is really a 'bugfix' and need not be documented. Second, and perhaps optionally, a user level function to generate tikzMetricsDictionary, plus documentation probably even in the vignette. A priori this function seems to simply be a map around a list of strings (change the t

[2015-09-23 18:47] pank commented on #126
Cool; That was easy!

I'll try to use the dev version. I say /try/ since I don't have a build env. for windows (as I recall there's a src dir in tikzDevice)... I will try to find a win. machine where I can get privileged access.

[2015-09-24 04:16] krlmlr commented on #126
Can you use the binary package from https://ci.appveyor.com/project/yihui/tikzDevice (click "Artifacts" there)? Alternatively, you can ways use `devtools::build_win()` to check and build a source package on Windows, but you have to change the maintainer's e-mail address in `DESCRIPTION`.

[2015-09-24 17:14] pank commented on #126
A couple of observations,

- face in `TeXmetrics` is an integer rather than an normal numeric.  The type should be normalized in the call.
- when you call `getLatexStrWidth` `packages` is typically a list of entries.  However, by the time it's called from tikzDevice, it's been concanated by `\n` into a single string , it seems.  If possible it should be normalized, though this may be nontrivial (e

[2015-09-24 17:45] pank commented on #126
Re normalizing input to the database, perhaps something like the following could be used:

[code]

[2015-09-24 19:24] krlmlr commented on #126
How about the following non-tech solution: Ask your client if he's willing to settle for slightly lower quality plots (using, say, the `pdf()` device), or if he'll support the installation of one additional piece of software. If you can install `tikzDevice`, I guess it might be possible also to use a [portable version of MikTeX](http://miktex.org/portable)?

[2015-09-25 14:16] pank commented on #126
Hi,

Kirill Müller <notifications@github.com> writes:

Indeed it proves much to unpredictable.  I solved the issue with
`showtext` and the correct font plus tweaked R plotting parameters.

Feel free to close unless you'd want to work more on this (I can also
provide patches, if desirable).

Thanks,
Rasmus

PS: There's no client, just confidential data.

--
Bang bang

[2015-09-25 18:45] krlmlr commented on #126
Thanks for your feedback. I prefer to keep things simple here.

[2015-09-25 18:45] #126 closed

[2015-10-03 15:52] gdkrmr commented on #120
[code]
works :-), the first chunk can also go behind ```\begin{document}```

[2015-10-31 00:01] krlmlr commented on #120
Thanks, @yihui and @gdkrmr. I guess this can be closed.

[2015-10-31 00:01] #120 closed

[2015-10-31 00:02] #123 closed

[2015-10-31 00:08] krlmlr commented on #85
Now testing with

[code]

[2015-10-31 00:10] #42 closed

[2015-10-31 00:13] #119 closed

[2015-11-19 15:39] buhtz opened #127 "Using simple r-text-output without graphic?"
Is there a way to do something like this?

[code]

`stem()` simply produce text-output. How can I integrate that in my tex-file with tikzDevice?

[2015-11-19 15:57] krlmlr commented on #127
How does this plot look like when you use, say, the `png()` device, and how does it differ from the tikzDevice output?

[2015-11-19 16:16] buhtz commented on #127
You mean this?

[code]
The output is
[code]
No png-file is created.

[2015-11-19 19:38] krlmlr commented on #127
If no PNG file is created, I assume the chances are low that tikzDevice will be able to create a .tex file. Does stem() output to the terminal? What does that output look like?

[2015-11-21 10:06] buhtz commented on #127
On 2015-11-19 11:38 Kirill Müller <notifications@github.com> wrote:

Simple and usual stem() output on the console looks fine.
And I want to integrate that in my tex-document.
--
GnuPGP-Key ID 0751A8EC

[2015-11-21 18:12] krlmlr commented on #127
I don't think tikzDevice is the right place to handle this. If you want to insert plain command output into your document, simply write the output to a file, and then use `\input{}` to include the contents in your document. (Relevant: http://tex.stackexchange.com/q/85200/8057)

knitr + rmarkdown might also be an option:

[code]
\end{verbatim}
[code]

[2015-11-30 23:46] yihui commented on #127
I think this will be more portable (in case you need other output formats):

    ---
    output: pdf_document
    ---

[code]

[2015-11-30 23:46] #127 closed

[2015-12-31 00:43] adamliter commented on #46
I can reproduce this error with the following MWE. *Without* `\usepackage{fontspec}`, it compiles just fine.

[code]

Error message:

[code]

Output of `sessionInfo()`:

[code]

[2016-01-13 21:10] krlmlr opened #128 "Add "args" argument to devtools::release()"
Necessary for this package. https://github.com/hadley/devtools/pull/981#issuecomment-171334606

[2016-01-15 00:19] yihui opened #129 "sanitize = TRUE does not work unless tikzDevice is attached"
A minimal reproducible example:

[code]

[code]

Of course this can be fixed by attaching the package `library(tikzDevice)`, but I guess it should just work even if the package is only loaded.

[2016-01-15 11:58] krlmlr opened #131 "Update ggplot2 output files"
so that tests pass again.

[2016-01-15 14:47] #129 closed

[2016-01-20 15:31] krlmlr opened #132 "Continuous color scale with ggplot2"
[code]

raises:

[code]

The error is gone when `color = color` is omitted or replaced by `color = factor(color)`. It's crucial to have a device open to reproduce this issue (can be tikz, png, pdf, jpeg, doesn't matter). On the other hand, if the current device isn't tikz, the issue cannot be reproduced.

**EDIT**: If I return immediately from `TikZ_Raster()`, the error doesn't occur. Will investi

[2016-01-20 20:12] krlmlr commented on #132
I'm pretty sure this is caused by `tikz_writeRaster()` opening a new PNG device for creating a PNG file. It might be that the graphics code isn't fully reentrant for this particular use case. I'll try changing this to `png::writePNG()`, let's hope the image differences won't be too large.

@yihui: I'm not really familiar with recording and replaying of plots. The tikzDevice creates an auxiliary PN

[2016-01-20 20:19] yihui commented on #132
Sorry I have no idea here.

[2016-01-21 09:56] #131 closed

[2016-01-23 17:51] gdkrmr commented on #33
i am not sure, if this is the same, but a hack for getting some latex length, you can use:
`getLatexStrWidth(texString="\\makebox[\\paperwidth]{}")`

[2016-02-01 18:16] felixhaass opened #134 "\pgfError in getMetricsFromLatex()"
I'm running into errors similar to #46 but without using `knitr()`, while executing the following code in a clean environment:

[code]

This throws a pretty long error message, which ends in

[code]

... and then the usual bits about common reasons for failure etc. (which are clearly not the case, given the most simple `plot(1)` command.

Now, I've installed the latest `tikzDevice` version from Gi

[2016-02-01 18:21] felixhaass commented on #134
Sorry. I was too fast. Installing the `preview` package in MikTeX resolved the issue (as per http://stackoverflow.com/questions/21542556/r-plot-using-tikzdevice-in-latex-document-with-knitr#comment32666598_21542556). Closing this.

[2016-02-01 18:21] #134 closed

[2016-02-03 10:20] krlmlr opened #135 "Improve test coverage"
- [ ] sanitize
- [ ] device info (where is that used?)
- [ ] warning when trying dev.capture()
- [ ] debugging output (via helper function)
- [ ] boldface and italic text
- [ ] luatex
- [ ] multi-page
- [ ] tikzcompilerInfo()

[2016-02-03 10:22] #132 closed

[2016-02-04 11:16] krlmlr commented on #128
In https://github.com/krlmlr/devtools/tree/feature/release-args.

[2016-02-09 11:54] krlmlr opened #136 "Require R 3.2.0"
...or remove `CDDDR()`. Uwe Ligges wrote:

[2016-02-09 17:05] yihui commented on #136
I'm fine with `R (>= 3.2.0)` if you cannot remove `CDDDR()`.

[2016-02-09 20:15] #136 closed

[2016-02-10 10:01] mllg opened #137 "Add an option to togge verbosity"
Using neovim and the nvim R plugin (<https://github.com/jalvesaq/Nvim-R>), knitr and rmarkdown are always executed in an interactive session. Thus, the output to PDF is flooded with messages like "using tikz dictionary" etc.

An option to turn this of (instead of asking `interactive()`) would be helpful.

[2016-02-10 10:05] krlmlr commented on #137
Makes sense: Create an option, populate it in onLoad with the value of interactive(). Would you like to contribute a PR?

[2016-02-11 06:50] #137 closed

[2016-02-11 06:51] yihui commented on #137
I just set `verbose = FALSE` in knitr. If you are unable to install the development version of knitr, you can also set the chunk option `dev.args = list(tikz = list(verbose = FALSE))`.

[2016-02-11 10:24] mllg commented on #137
Thanks!

[2016-02-25 18:55] evoclue opened #138 "Error in getMetricsFromLatex(TeXMetrics, verbose = verbose) in R without knitr (Windows OS with MiKTex)"
I know there have been various variations of this issue, but I'm not entirely sure how similar my issue is to others, so feel free to close this if it's the same.

I have installed the tikzDevice package in R and MiKTeX with the pgf, preview, xcolor packages among others.

In R, I am running the follow code, which is just a simple histogram with the title "hist":
[code]

and I get a very long log:

[2016-03-03 18:35] Lenchik opened #139 "Code from manual not copypastable"
Because of all `'` converted to `’`. Probably because of some default tex ligatures settings that change that symbols.

[2016-03-03 22:58] krlmlr commented on #139
Could you please be a bit more specific? Which manual? Which code example have you tested?

[2016-03-04 04:37] Lenchik commented on #139
To reproduce:
https://cran.rstudio.com/web/packages/tikzDevice/vignettes/tikzDevice.pdf

Introduction (page 4 numbered as 1). Copy paste of second block of code (same copying result in Adobe reader and STDU Viewer):
[code]
Result of pasting it in R from RStudio on russian Windows:
[code]
Session info:
[code]

[2016-03-07 10:15] Lenchik commented on #139
May be http://www.cl.cam.ac.uk/~mgk25/ucs/quotes.html#tex will be helpful ([upquote package](http://www.ctan.org/pkg/upquote)).

[2016-03-07 12:40] #139 closed

[2016-03-07 12:46] krlmlr commented on #139
Thanks for reporting, should be fixed now in the dev version.

[2016-03-07 17:23] krlmlr commented on #128
https://github.com/hadley/devtools/pull/1077

[2016-03-07 17:27] krlmlr commented on #138
This is strange. I can't tell from the log output what's going on here.

The output contains the LaTeX document that has been created to measure the width of the "hist" string:

[code]

Could you save this to a `.tex` file and run `pdflatex` with it?

[2016-03-07 17:28] krlmlr commented on #138
Actually, a modified version (with `\end{tikzpicture}\end{document}` instead of `\makeatletter\@@end`) could be even better here for debugging.

[2016-03-08 15:29] LostLinguist opened #141 "Doesn't work with Cygwin latex"
Hi,

I'm trying to use tikzDevice using the official R binaries for Windows together with a LaTeX distribution from Cygwin. Unfortunately, tikzDevice does not appear to like this configuration:

I thought the problem might be that the binary version of tikzDevice I got from CRAN might not be Cygwin-aware, so I also tried compiling it from source (using Cygwin's gcc), but with this self-compiled ti

[2016-03-08 16:48] evoclue commented on #138
This is my log from running that:

[code]

[2016-03-11 14:15] krlmlr commented on #141
R or the packages don't have to be compatible with Cygwin. What happens during measurement is:

- A temporary .tex file is created
- LaTeX is run with this .tex file
- The log output is parsed

According to the error message, the log file isn't created. Could you rerun and post the contents of this directory?

A native LaTeX distribution would probably work better anyway.

[2016-03-11 14:19] krlmlr commented on #138
The log file looks clean. Is a PDF file created?

What version of R and tikzDevice are you running?

[2016-03-11 15:33] LostLinguist commented on #141
I've attached [the contents of the directory here](https://github.com/yihui/tikzDevice/files/169434/output.zip). The problem seems to be in the LaTeX file, which contains just this:

I've had some problems with MikTex way back in the past, hence why I'm on Cygwin now, but if you can't or don't want to support this configuration (or if the bug is simply Cygwin's rather than tikzDevice's), I complet

[2016-03-15 10:32] schickimiki commented on #114
I have the same issue with texlive 2014 on Redhat :-(.

TeX was unable to calculate metrics for the following string
or character:

    m

[2016-03-21 22:01] evoclue commented on #138
[code]

[2016-03-21 22:02] krlmlr commented on #138
Is a PDF file created?

[2016-03-21 22:10] evoclue commented on #138
Yes. I'm not sure why, but I'm not getting any errors anymore. I didn't change anything. Thanks, I guess.

[2016-03-21 22:17] krlmlr commented on #138
Thanks. Please post here if the error reappears.

[2016-03-21 22:17] #138 closed

[2016-03-21 22:40] krlmlr commented on #114
@schickimiki: Could you please file a new issue with more detail (including the complete input and output)?

[2016-03-24 00:26] basp91 commented on #114
This worked for me. I added in R
`options(tikzMetricPackages = c("\\usepackage[utf8]{inputenc}","\\usepackage[T1]{fontenc}", "\\usetikzlibrary{calc}", "\\usepackage{amssymb}"))`

[source](http://freakonometrics.hypotheses.org/6290)

[2016-03-24 00:26] basp91 commented on #46
This worked for me. I added in R
`options(tikzMetricPackages = c("\\usepackage[utf8]{inputenc}","\\usepackage[T1]{fontenc}", "\\usetikzlibrary{calc}", "\\usepackage{amssymb}"))`

[source](http://freakonometrics.hypotheses.org/6290)

[2016-03-24 08:41] krlmlr opened #142 "Implement dr_tikz()"
re #114, #46 and many others.

Closes #108.

[2016-06-13 22:37] J-Moravec opened #143 "Using tikzDevice in child documents in different folders: Unable to calculate metrics"
I got eponymous error "Tex was unable to calculate metrics...".

It is probably some linking error connected with child document in different folder and local style document.

How to reproduce:
1. create minimal example knitr tikz file
2. create child document with simple tikz plot and link it in the main document
3. create empty style document and usepackage it
4. compile

So such configuration c

[2016-06-14 10:34] krlmlr commented on #143
I guess the error doesn't occur if child.Rtex is in the main directory?

[2016-06-14 10:45] J-Moravec commented on #143
No, this happens only when:
1. one is using tikz as knitr device (works with PDF or PNG)
2. one is using child document in different folder (works if they are in the same folder as style document can then be found)
3. one is using non globally-accessible package (in this case, even empty style document)
4. Can be repaired by manually putting style document to the same folder as child document (thu

[2016-06-14 11:01] krlmlr commented on #143
Another workaround might be to set the tikz preamble to use ../empty.sty, or to use a symlink if your system supports these. Perhaps @yihui knows a knitr-based fix?

[2016-06-14 11:53] yihui commented on #143
Could you simply upload the reproducible example as a zip file here?

[2016-06-14 21:00] J-Moravec commented on #143
Here it is. You can see how it was translated. First graph shows that all the translation went good as this is in the main file. The second graph shows where errors happens, you can see that in this case, part of graph was still created and thus PDF could be created as well.

[minimal.zip](https://github.com/yihui/tikzDevice/files/314934/minimal.zip)

[2016-06-15 05:35] yihui commented on #143
I see. That is a knitr issue. I don't have a good solution, though.

[2016-06-15 08:26] krlmlr commented on #143
It's strange because tikz() seems to be run [in the base directory](https://github.com/yihui/knitr/blob/ce40cbf1d02b1753ce5fb66bf507fa6f9e068d87/R/plot.R#L116) since, like, forever (October 2014). What is the "base directory" for a child document?

[2016-06-15 08:38] J-Moravec commented on #143
I can confirm that last year it worked. So maybe new introduction?

Base directory of child document is the directory he is in, as because when you point at something with R inside that document, the relative path starts from the same folder (if you understand me). Which is probably problem for tikz as knitr/tikzDevice as it is taking the definition of LaTeX document and translating with that. How

[2016-06-15 08:54] yihui commented on #143
I don't have time to investigate this issue closely, but I guess it was introduced by this change https://github.com/yihui/knitr/pull/1073 `tikz()` was called twice: once for recording the plot, and another time later for generating the LaTeX output file. I guess it ran into trouble when recording the plot since the working directory was not correct.

[2016-06-15 09:26] krlmlr commented on #143
I'm not sure yihui/knitr#1073 is the cause, according to @J-Moravec all is fine for the base document but not for the child document.

I can run a bisect, but perhaps the only real fix at this time is to run tikz() from the root directory but write the output file to the base directory. This is going to be funny with raster images, too: these are external to the .tex file created by tikz() and mus

[2016-06-21 20:15] amit2011 opened #144 "glossary with tikzDevice"
Hi, I am using tikzDevice to run my R-scripts within latex.

This is my code --

[code]

where rtikzFile is created using R as follows --

[code]

`

Now, I would like to use **`\gls{lcm}`** instead of **XXX** as x-label. I have tried using `\\gls\\{lcm\\}` and also `\\gls{lcm}`. Everything just return errors, something like --

[code]

[2016-06-21 21:21] krlmlr commented on #144
Doesn't the glossary require two LaTeX compilation passes? Unless you manage to link the preamble to a precompiled glossary file, the measurement will be off anyway.

The development version will show you the location of the generated .tex and .log files, I've attached them for your convenience.

[tikzStringWidthCalc.log.txt](https://github.com/yihui/tikzDevice/files/326625/tikzStringWidthCalc.log

[2016-06-21 21:37] amit2011 commented on #144
Right, even it would need `\makeglossaries`in the preamble. Is there a way to pass precompiled glossary file to the r-script ?

[2016-06-21 21:40] krlmlr commented on #144
Honestly, I have no idea. I'd probably use a simpler approach, e.g., use the raw text in the plots and later do a text substitution in the generated .tex file.

[2016-06-21 21:42] amit2011 commented on #144
ok. I already tried to edit it in generated .tex file, as expected, that works perfectly. Thanks for pointer to the problem.

[2016-07-06 07:53] hbuschme opened #145 "Unnecessarily high precision of paths leads to large file sizes"
Plotting distributions (e.g., with ggplot2's `geom_density`) results in a TikZ-path with a huge number of coordinates. The TikZ-file created in the following MWE

[code]

for example contains in a TikZ-path for the distribution curve that has more than 1000 samples. This is – at least for my use case – overly precise. The result is a huge file size (both the .tikz and the compiled .pdf file) when

[2016-07-06 08:57] krlmlr commented on #145
geom_density() calls stat_density() calls stats::density(), which does have an `n` argument that defaults to 512, but I don't see it's exposed in geom_density() or stat_density(). Perhaps suggest an improvement to ggplot2, or compute the density yourself?

I don't think 512 is a terribly huge number of points, too.

If you prefer raster images, you can still use TikZ to create a PDF and then conve

[2016-07-06 08:57] #145 closed

[2016-07-06 13:05] hbuschme commented on #145
Thanks for the explanation, I can now see that such a feature does not belong into the `tikzDevice` package.

As you suggested I made [a change in `ggplot2` that makes the argument](https://github.com/hadley/ggplot2/pull/1661) accessible to users of `stat_density()` (and hence `geom_density()`). Once this change makes it into `ggplot2`, the precision of a density plot can be controlled in the foll

[2016-08-02 10:28] krlmlr commented on #143
There's the `TEXINPUTS` environment variable that is already set at some point in the `knitr` code; looks like this setting affects the rendering, but not the measurement. @J-Moravec: Could you try setting the `TEXINPUTS` environment variable to `".:<base-dir>:"` in your child documents?

I think setting `TEXINPUTS` should be the responsibility of the `tikzDevice`. We should add a new `inputDirs`

[2016-08-08 03:14] J-Moravec commented on #143
sorry, I am trying to figure out what you mean. I was looking at TEXINPUTS, but I can't seem to find a way how to set it up from latex, only bash. Do you mean this? Is there any way to do it from LaTeX or do you mean setting it up for Knitr (and if so, where in knitr?)

Thanks

[2016-08-09 00:38] krlmlr commented on #143
Could you try adding `Sys.setenv(TEXINPUTS = ".:<base-dir>")` to the first R chunk in the child document?

[2016-08-09 02:23] J-Moravec commented on #143
Ah, thank you, didn't know this R command. However, it fails to compute. Seems that setting TEXINPUTS overwrite defaults?  I then get errors like this:

[code]

However, by default, TEXINPUTS are blank, as described here:
http://tex.stackexchange.com/questions/93712/definition-of-the-texinputs-variable

so combo: `Sys.getenv` to get current value, concatenate it and then `Sys.setenv` would not wor

[2016-08-11 08:31] menecken opened #146 "Huge files with large datasets"
I found the bug when I wanted to draw a histogram along with a manually drawn `geom_rect` using

[code]

This code results already in a 42kb large .TEX file.

Output looks like

![bughunt](https://cloud.githubusercontent.com/assets/9052196/17582820/dde46998-5fad-11e6-8aec-efd04c4fa9ec.PNG)

When changing `rep(1,500)` to `rep(1,100000)` the file is 6649kb large which causes the TeX compiler to thro

[2016-08-12 01:29] karseneau opened #147 "Unwanted cropping of ggplot2 objects"
There is visible cropping of `.tex` output from `tikzDevice` caused by `\path[use as bounding box, ... ]` and `\path[clip]` lines generated by the package. When these lines are removed, the `tikzpicture` renders correctly when compiled with `knitr`.

This may be an issue caused by an "artifact left from rather old PSTricks habits" according to this older answer from [StackExchange](http://tex.stac

[2016-08-17 10:12] krlmlr commented on #143
How about `TEXINPUTS = ".:<base-dir>:"` ? Reference: [answer](http://tex.stackexchange.com/a/93733/8057) in the SO question you linked.

[2016-09-29 19:24] timotheenivalis opened #149 "Againg TeX was unable to calculate metrics for the following string or character: m"
This is very similar to [issue #114](https://github.com/yihui/tikzDevice/issues/114), but nothing written there works for me. Maybe you can fix that or have idea of what is wrong on my laptop.
I was using tikzDevice without problems until today when I updated MikTeX to the latest version. Now it does not work anymore and always complain about not being able to calculate metrics.
So, entering this

[2016-09-29 20:51] krlmlr commented on #149
Have you installed all required MikTeX packages, especially tikz?

[2016-09-29 21:24] timotheenivalis commented on #149
I think so. Today I have used tikz in several contexts not involving tikzDevice.
For instance, running
[code]
with knitr works fine, but running
[code]
sends back a very long error message similar to the one I posted above.
Other MikTeX packages crucial in this context and that I should check?

[2016-10-17 11:55] clemlaflemme commented on #46
I had a similar issue by simply adding

[code]

Note : I did that because I don't like the empty lines between `R input and output rendered by `knitr`. Is there another way to avoid them ?

[2016-10-21 08:58] nichtleiter opened #150 "Make it compatible with luatex > 0.85"
For luatex > 0.85

[code]

doesn't work anylonger.

To get appropriate results it must be set to

[code]

It would be great if luatex > 0.85 is also considered in future developments...

Best regards and thanks for the great effort you put into tikzDevice!

[2016-12-12 11:04] gsteinbu commented on #149
I had the same issue. I solved it by something I don't know why it solved it. However, I did the following:

I edited the file 'tikzStringWidthCalc.tex'. From your output above that file is in 'C:\Users\Timothee\AppData\Local\Temp\Rtmp0iTYF6' (from the last few lines). The file contains something like:

[code]

I just replaced the last two lines ( `latex \makeatletter` and `\@@end`) by

[code]

Th

[2016-12-22 13:42] fzesch opened #151 "unable to use labels = percent_format() in scale"
I want to plot with `ggplot` and `percent_format()` from `scales` like

    ggplot(df, aes(Weight.kg)) +
       geom_histogram(aes(y = ..count../(sum(..count..))), binwidth = 0.2,) +
       scale_y_continuous(labels = percent_format())

But I receive the error

Which is of course a perfectly escaped error but nevertheless keeps me from getting my figure.

[2016-12-22 13:54] krlmlr commented on #151
Thanks. The `%` leaks into the generated LaTeX code. You need to run `tikz(sanitize = FALSE)` (which prevents you from using LaTeX in your plots) or escape the percent characters yourself (with a custom formatter that wraps `percent_format()`).

[2016-12-22 13:54] #151 closed

[2016-12-22 15:47] fzesch commented on #151
Thanks. Just for the sake of completeness: The correct command is `tikz(sanitize = TRUE)` if I want to get the right output. I did not know about this option, thanks for the help!

[2017-01-13 16:03] ntguardian opened #152 "tikzDevice not working for basic example"
Consider the following example:

[code]
An error will be produced once the plot is created, with a lot of code but near the end the error appears:

[code]

There are other examples from websites and the tikzDevice vignette that are not working; sometimes they point to the string/character "m", sometimes a mysterious number like "36".

All of this is on a machine I bought on Sunday, so my version o

[2017-01-25 15:54] pisciotto commented on #149
Hi,

I have the same error.

Measuring dimensions of: \char73
Error in getMetricsFromLatex(TeXMetrics, verbose = verbose) :
TeX was unable to calculate metrics for:

	73

Common reasons for failure include:
  * The string contains a character which is special to LaTeX unless
    escaped properly, such as % or $.
  * The string makes use of LaTeX commands provided by a package and
    the tikzDevic

[2017-02-23 13:10] photopresentr commented on #46
On Fedora 24, I encountered this problem and was able to fix it by installing the latex preview package:

`sudo dnf install tex-preview`

The error message could perhaps be made a bit more informative :)

[2017-03-04 01:28] nhamilton1980 opened #153 "Write Errors, cannot open file."
I am getting write errors when using pdftex,

[code]
I think it is due to the following:

**Around Line 270, `latexStrWidth.R`**

Should also have:

[code]

Same error does not happen when using xetex

In a local version I made the following changes, which made the error go away once the package was rebuilt and reloaded:

[code]

[2017-03-04 19:49] cdriveraus commented on #143
I'm also having quite some trouble with this, though it is perhaps somewhat different. Tikz for child documents is looking in the /figures folder for any additional classes, preamble, etc.  MWE below, just change the document class to any old class file copied under Classes folder. This behaviour can be avoided if I specify fig.path = './' but this will get pretty messy.

test.rnw
[code]
/child/ch

[2017-03-06 15:47] yihui commented on #153
Could you submit a pull request? Thanks!

[2017-03-29 02:10] jszhao opened #154 "output file in UTF8 encoding"
If the plot code involve some Chinese character, and I also hope to use xetex as the engine, then the output TeX file, including tikzStringWidthCalc.tex, should be in UTF8 encoding. However, under Windows system in Chinese, it seems that the output file is always in CP936 encoding. It will cause the font metrics can not be calculated by xelatex.

[2017-03-29 02:32] yihui commented on #154
Thanks for the report! I guess we probably won't have time to fix it in the near future. If you could figure out the fix, we will appreciate your pull request!

[2017-03-29 09:11] jszhao commented on #154
Here is a mini example, that demo something:
``

+                                 "\\setmainfont{Times New Roman}\n",
+                                 "\\usepackage[math-style=TeX]{unicode-math}\n",
+                                 "\\setmathfont{Times New Roman}\n",
+                                 "\\usepackage{xeCJK}\n",
+                                 "\\setCJKmainfont{SimHei}\n\n"
+

[2017-03-29 09:21] jszhao commented on #154
After change Line 273 of `latexStrWidth.R` in current git master, the above warning message disappear. However, the final output file `Fig2-a.tex` also corrupted with  `\node[text=drawColor,rotate= 90.00,anchor=base,inner sep=0pt, outer sep=0pt, scale= 1.00] at ( 10.80,150.54) {ģʽ};`

[2017-03-29 09:31] jszhao opened #155 "tikzDevice hang afte measuring dimensions correctly"
Here is a mini example:
[code]
R output the following message:
[code]
At here, R hanged forever, with full CPU utilization. I check the temp file `tikzStringWidthCalc.tex` and `tikzStringWidthCalc.log`, and confirmed that the correct size is obtained.

I don't know what's the problem.

[2017-04-02 09:21] jszhao opened #156 "bug in anyMultibyteUTF8Characters()"
The bug is in the following line
[code]
here is a mini example that demo the bug:
[code]
I think the above two lines could be remove, since `string <- enc2utf8(string)` does all needed.

[2017-04-02 09:26] jszhao commented on #156
Alternative way is to use `stringi` package, something like:
[code]

[2017-04-02 15:00] jszhao opened #157 "bad behavior of text function."
In the following example
[code]
The output in the R console is:
[code]
If I replace the `text(..., "abcd!")` with `mtext("abcd!",...)`, it just give:
[code]
What is the difference? And, why is the string in `text` measured character by character, instead of string as a whole?

[2017-04-03 09:30] jszhao commented on #157
When I replace the whole `TikZ_MetricInfo` fucntion in `tikzDevice.c` with the following code:
[code]
The following message disappear.
[code]
And I also get the correct result.

And again, the [https://github.com/yihui/tikzDevice/issues/155](url) could give correct output and don't hang again.

I think the measurement of character metrics is not necessary when using tikzDevice, since `TikZ_StrWidt

[2017-04-03 09:31] jszhao commented on #155
please refer to the comment at [https://github.com/yihui/tikzDevice/issues/157](url).

[2017-04-03 15:27] jszhao commented on #157
well, set all ascent, descent, and width to zero is not a good solution to [https://github.com/yihui/tikzDevice/issues/155](https://github.com/yihui/tikzDevice/issues/155), however, `TikZ_MetricInfo` can not provide a good solution. For example, in the following code:
[code]
It's nonsense to give ascent and descent of `e`, since in the final typeset, it is an `E` with shift in vertical direction.

[2017-04-03 21:39] yihui commented on #156
Your solution seems to be correct to me. Could you send a pull request? Thanks!

[2017-04-04 00:56] jszhao commented on #156
Because I am not familiar with git, I don't know how to pull request. I will try later.

[2017-04-04 04:27] jszhao commented on #156
Because I don't know how to pull request on Github, I just paste the diff here, so someone can help. Thanks!

[code]

[2017-04-04 04:33] yihui commented on #156
That is okay. Much appreciated!

If you want to try Github pull requests anyway, it is actually pretty simple and here is how: go to https://github.com/yihui/tikzDevice/blob/master/R/deviceUtils.R, hit the edit button (the button on the left side of the trash button), remove the lines you mentioned, scroll to the bottom of the page, write a message, and Github will guide you to create a pull reque

[2017-04-04 14:12] jszhao commented on #156
@yihui thanks for the guide. I have created a pull request [https://github.com/yihui/tikzDevice/pull/158](https://github.com/yihui/tikzDevice/pull/158).

[2017-04-05 06:14] jszhao opened #160 "text() with non-Latin1 character causes infinite loop"
After set DEBUG to TRUE, the following code demonstrated the bug.
[code]
it will print endlessly:
% Calculated character metrics. ascent: 7.851560, descent: 0.976530, width: 10.000000

If I replaced `text(5,2, "江")` to `text(5,2, "a")`, It will end normally.

However, I don't know how to debug C code.

This issue is the root of [https://github.com/yihui/tikzDevice/issues/155](https://github.com/yi

[2017-04-05 08:09] krlmlr opened #161 "Take care of PROTECT() problems"
https://github.com/kalibera/rprotect/tree/master/reports/tikzDevice

[2017-05-18 13:41] ClaudiusL commented on #149
I had the same issue and could fix it by manually editing `tikzStringWidthCalc.tex`, as recommended in [this comment](https://github.com/yihui/tikzDevice/issues/149#issuecomment-266400781) by @gsteinbu . Only the two lines need to be reversed:

    \end{tikzpicture}
    \end{document}

After compiling this document, MikTeX installs some missing packages and then tikzDevice works. This is really su

[2017-06-27 20:28] cstrbl opened #162 "Error in dbExists(.tikzInternal[["dictionary"]], sha1(key))"
My code was running without problems once - I got exactly what I wanted. But whenever I try to run it again I get an error.

My rnw contains of:
[code]

running it gives me:
[code]

but in the pdf file I get instead of the plot:
[code]
(When I was running it the first time the plot showed up just fine.)

The test.tex also contains this error:
[code]

I used to run another code first but was able t

[2017-06-28 08:42] krlmlr commented on #162
Thanks, this is strange. Could you please post two zip archives: One with your entire directory after the first run, and one after the second run? Please also include a call to of `sessionInfo()` in your `.Rnw` file.

[2017-06-28 12:17] cstrbl commented on #162
I attached the zip file from the test I described above when the error shows up. I don’t have a zip from the time before the error showed up so I can’t upload that.

However I do have a backup of the slides I used to test it with before (a bit more complex code). See slides_no_error.zip for that version and slides_error.zip for the version with the error in it.
The slides_no_error.zip runs fine as

[2017-06-28 23:55] BenoitLamarsaude commented on #149
I had the same issue with texlive. I fix it by installing the full distribution : `sudo apt-get install texlive-full`

[2017-06-30 11:47] lirumcs commented on #162
I don't know what the problem was but I uninstalled everything (R, R Studio, Miktex) and reinstalled the latest versions. Now everything is working fine... issue can be closed. Thank you for the help!!

[2017-08-14 08:16] #162 closed

[2017-08-14 12:05] krlmlr opened #163 "Fix Travis tests"
Update to use `language: r` .

[2017-08-14 12:48] krlmlr commented on #155
Thanks. Closing in favor of #157.

[2017-08-14 13:15] krlmlr commented on #160
Thanks for your analysis. This is likely a bug in base R.

[2017-08-14 13:17] krlmlr commented on #157
Graphics devices such as tikzDevice register a set of callbacks, which are then called by R's graphics engine. We don't control which callbacks are called when. I agree that measuring the metrics character by character doesn't make sense for `\TeX` and LaTeX commands in general, but this needs to be fixed in base R if at all. Maybe the newer grid functions aren't affected by this problem?

Closing

[2017-08-14 13:18] #157 closed

[2017-08-14 13:18] #155 closed

[2017-08-14 13:31] #156 closed

[2017-08-14 13:46] #142 closed

[2017-08-14 13:47] krlmlr commented on #108
Fixed in #142.

[2017-08-14 13:47] #108 closed

[2017-08-14 13:48] krlmlr commented on #46
Fixed in #142. Now `tikzTest()` is an easier way to troubleshoot problems.

[2017-08-14 13:48] #46 closed

[2017-08-14 14:16] #154 closed

[2017-08-14 14:21] krlmlr commented on #152
Thanks. The development version now has `tikzTest()` which can help troubleshoot problems. Please open a new issue if the problems persist.

Install the development version via

[code]

[2017-08-14 14:21] #152 closed

[2017-08-14 14:23] krlmlr commented on #150
Thanks for your input. I'm not sure about the best way to incorporate this -- will `\usepackage{luatex85}` also work with LuaTeX <= 0.85? Happy to review a pull request.

[2017-08-14 14:30] #149 closed

[2017-08-14 14:30] krlmlr commented on #149
Thanks for your input. The new `tikzTest()` function will now test-compile a complete LaTeX document,
essentially applying @gsteinbu's workaround, which should allow MikTeX to install anything that's missing.

[2017-08-14 14:32] krlmlr commented on #147
Thanks. Can you please submit a reproducible example where the cropping affects the output?

[2017-08-14 14:33] krlmlr commented on #146
Thanks. Vector graphics consisting of many individual objects tend to lead to huge file sizes, there's nothing we can do about it. Please consider using PNG or simplifying your plot.

[2017-08-14 14:33] #146 closed

[2017-08-14 14:34] #144 closed

[2017-08-14 14:35] krlmlr commented on #143
Closing due to inactivity. @cdriveraus: Could you please open a new issue if you're still interested?

[2017-08-14 14:35] #143 closed

[2017-08-14 14:36] krlmlr commented on #141
Thanks. The development version now has `tikzTest()` which can help troubleshoot problems. Please open a new issue if the problems persist.

Install the development version via

[code]

[2017-08-14 14:36] #141 closed

[2017-08-14 14:37] krlmlr commented on #128
Merged upstream.

[2017-08-14 14:37] #128 closed

[2017-08-14 15:04] krlmlr commented on #150
Also, from the luatex85 documentation:

the authors asking that the packages be updated to current LuaTEX syntax. The
luatex85 package should be seen as a temporary aid to improve compatibility
during the transition towards LuaTEX 1.0 it is not intended that future documents
should always have to load this compatibility emulation.

I'm also missing a reproducible example that shows what exactly do

[2017-08-14 15:10] #150 closed

[2017-08-14 15:11] krlmlr commented on #150
Thanks, I've adapted your suggestion, because I was seeing test failures. Please open a new issue in case of any problems.

[2017-08-14 15:13] #153 closed

[2017-08-14 15:13] krlmlr commented on #153
Thanks, I don't think creating the .tex and .log files is necessary. Please open a new issue if the problem persists.

[2017-08-15 02:17] karseneau commented on #147
Thanks Kirill (@krlmlr) for getting to look at this, please see reprex below.

[code]

When rendering a minimal tex with both outputs and adding a frame, we can see the difference in borders.

[code]

[2017-09-14 18:37] sebastianvelez opened #164 "Spanish accents disappear from figures but show up properly on paragraphs"
---
    title: 'Some title'
    author: 'This be me'
    date: '`r format(Sys.Date(), "%B %Y")`'
    lang: es
    header-includes:
      - \usepackage{tikz}
    output:
      pdf_document:
        fig_caption: yes
    ---

[code]

    I have some paragraphs that include cool accents like áspid.

    If I run the next chunk in the R console I see the accent on the figure it generated. But the accen

[2017-09-22 11:19] sebaki opened #165 "Measuring dimensions of \char100 takes long time"
Hei!
First of all, thank you for spending so much time in this useful package!
In the last few days I found a problem and as I don't know, if it is caused by this package or anything else, I submit this issue.

here is some rough example code:
[code]
In the last steps, while the code should save the plot as tikz, it freezes with:

Does anyone have a idea?

Kind and thanks,
Sebastian

[2017-09-22 13:51] sebaki commented on #165
Might be a R-version problem.
Downgrading from 3.4.1 to 3.3.1 solves.

[2017-10-04 13:05] joko524 commented on #114
Adding \usepackage{preview} to Latex worked for me. Not sure why though...

[2017-10-23 16:49] jr1234567 opened #166 "Pb with accents with ggplot2 graphics"
Using an accented "é" in the following ggplot2 graph makes R hangs when using tikzdevice,  whereas it works using simple pdf device.
(This is on Linux Mint. All packages updated.)

#######
library(tikzDevice)
library(ggplot2)

options(tikzDefaultEngine = "luatex")

tikzLualatexPackages =c(
  "\\usepackage{tikz}\n",
  "\\usepackage[active,tightpage,psfixbb]{preview}\n",
  "\\usepackage{fontspec,xun

[2017-10-25 18:23] nichtleiter opened #167 "Issue with umlauts again"
Hi all,

it seems that i have the same issue as #166.

After i updated R from version 3.3 to 3.4.2 on my debian machine `tikzDevice` (version 0.10-3) hangs if the graphics output contains any umlauts.

In the following example code `tikzDevice` works without any error and the plot is successfully transformed into tikz format.
[code]

But if I set `umlauts` to `Ä` or any other non standard ASCII ch

[2017-10-25 18:29] nichtleiter commented on #166
Hey my friend :)

You are not alone with this proble,. I just issued a bug report regarding the same issue. On my side german umlauts are making the problem.

However there is a workaround. You can use the indirect latex notation for accented characters like

[code]

This is not a permanent solution but it may help as long as the bug isn't wiped out.

[2017-11-03 14:54] ClaudiusL commented on #149
Still having the same problem, even with the latest version of `tikzDevice` (0.10-3, installed from Github just now). Running `tikzTest()` and `tikzTest("m")` has no effect.
However, manually compiling the temporary TEX file installs a missing package* and this solved the issue.

Environment: Windows 10, MikTeX.

\* Unfortunately, I clicked on "Install" faster than I could read the package name. B

[2017-11-28 18:23] adamSales opened #168 "sh-1 key error"
Just FYI:
This is a bug in the current CRAN version (tikzDevice_0.10-1) but goes away when I install via github (version 0.10-3).
With any plot, I get the error

Apparently, in the version 0.10-1, the line of code

from cacheMetrics.R is missing (EDIT: or something like that, I don't actually know).

Anyway, with the current github version (0.10-3) it works.

Here's an example where I get the erro

[2017-12-28 10:05] jr1234567 commented on #166
It would be nice if it could be fixed as it precludes using ggplot2 with tikzDevice

[2017-12-28 14:52] niklaas commented on #46
I enountered the issue @casallas described: `\usepackage[table]{xcolor}` was responsible for the error.  Using`\PassOptionsToPackage{table}{xcolor}\usepackage{xcolor}` instead of `\usepackage{xcolor}` solved it.

[2018-01-18 17:43] tkonolige opened #169 "Cannot open tikzStringWidthCalc.log on MacOS"
On MacOS 10.13.2 with R version 3.4.3, printing to tikz fails:

[code]

It appears that the temp directory is invalid. With TMPDIR=tmp (some local directory), it still fails:
[code]

However "tikzStringWidthCalc.tex" does exist.

[2018-01-23 11:43] krlmlr commented on #169
Thanks. Can you please install the development version and show the output of `tikzDevice::tikzTest()` ?

[2018-01-23 11:50] krlmlr commented on #168
Thanks. This is likely due to an update of the filehash package, currently this requires reinstallation of the tikzDevice package.

[2018-01-23 11:58] krlmlr commented on #167
Thanks. Can you please install the development version and show the output of `tikzDevice::tikzTest()` ?

[2018-01-23 11:58] krlmlr commented on #164
Thanks. Can you please install the development version and show the output of `tikzDevice::tikzTest()` ?

[2018-01-23 12:14] krlmlr commented on #147
Thanks. I was able to compile your `.tex` file, after adding to `\section{}` commands the results look like this:

![screenshot from 2018-01-23 13-12-34](https://user-images.githubusercontent.com/1741643/35275159-1d7b3edc-003f-11e8-8d7a-84ff4278f952.png)

I don't see what's wrong with the first plot (that uses `use as bounding box`), how do the results look like on your system?

[2018-01-23 12:16] krlmlr commented on #160
This now works for me in the development version with R 3.4.3. Please file a new issue if the problem persists.

[2018-01-23 12:16] #160 closed

[2018-01-23 12:57] #168 closed

[2018-01-23 17:43] tkonolige commented on #169
[code]

`'/var/folders/cd/hnjzvg453gqg224cdsy2m9x00000gn/T//RtmppYt7Yj/tikzDevice30e02596d37d/` exists, but `tikzStringWidthCalc.log` does not.

[2018-01-24 04:30] karseneau commented on #147
Yes, I produce the same output. The added margin/white-space in the first (1) result is not desirable, the second (2) is what is required.

[2018-01-24 11:20] krlmlr commented on #169
Thanks. I tweaked the diagnostic code in the dev version, could you please reinstall the package and rerun?

[2018-01-24 11:33] krlmlr commented on #147
We have a test suite that contains different plots with different techniques, how would a change affect the output there?

If the plots look "much better" without the `use as bounding box`, we may add another argument to `tikz()`, maybe `bbox = TRUE`. I'd rather not implement this change unconditionally, just to avoid the situation where plots start to look worse. I'm happy to review a pull reques

[2018-01-24 18:07] tkonolige commented on #169
[code]

I'm not sure why `/Users/tristan/.local/bin/luna-studio/` is picked as the `pdftex` command.

[2018-01-24 18:22] yihui commented on #169
Funny... We'd better switch to tinytex someday to avoid these weird LaTeX issues: https://yihui.name/tinytex.

[2018-01-24 18:34] krlmlr commented on #169
Thanks. This is most likely an issue with your options. I have improved `tikzTest()` again, could you please rerun with the latest dev version?

[2018-01-24 18:52] tkonolige commented on #169
I figured out the issue: `ENV_VAR` was not checking if the environment variable was unset correctly. If the variable was unset, then the empty string was used. This causes `Sys.which` to return an executable if it is in the path.

[2018-01-24 20:13] #169 closed

[2018-02-01 10:43] ghost opened #171 "(another) TeX was unable to calculate metrics for the following string or character: m"
I'm trying to use knitr with lualatex using (as far as I can tell) texlive 2016 (I'm working on updating it) on nixos with lyx 2.2.3 and I can't get the basic example working. I've attached my lyx file.

[hu.zip](https://github.com/yihui/tikzDevice/files/1685172/hu.zip)

I've gone through the other related issues here but haven't managed to fix the problem.

I tried tikzTest("m") but I don't know

[2018-02-01 10:47] 22459 commented on #171
Here's my lyx log and the resulting pdf:
[code]

[2018-02-01 10:55] 22459 commented on #171
Would there be any way to improve the error reporting so that it's sufficient to look at the lyx log and not need to dig around deeply in files to get to the error messages?

[2018-02-01 16:15] krlmlr commented on #171
Can you please try `tikzTest()` in the development version?

[2018-02-01 22:18] 22459 commented on #171
Here you go:
[files.zip](https://github.com/yihui/tikzDevice/files/1687430/files.zip)

[2018-02-01 22:36] krlmlr commented on #171
Thanks. Could you please post the output of `tikzTest()`? I'm not sure how the `.zip` file is helpful.

[2018-02-01 23:53] 22459 commented on #171
Well, that was exactly my question. I don't know how to get the output. The best I was able to get was what's in the PDF.

The temporary files get removed after the Rscript finishes running.

[2018-02-02 00:35] krlmlr commented on #171
What's the console output?

[2018-02-02 00:38] 22459 commented on #171
It's the same as in my first post, sorry. :/

[2018-02-02 00:44] krlmlr commented on #171
Can I please see the console output of `tikzTest()`?

[2018-02-02 00:45] 22459 commented on #171
Do you mean in R?

[2018-02-02 00:53] krlmlr commented on #171
If you run `tikzTest()` in R, it should print useful information about your setup.

[2018-02-02 00:55] 22459 commented on #171
Ok I will do that. Wouldn't this be some kind of interaction problem with lyx/lualatex though?

[2018-02-02 00:55] krlmlr commented on #171
That's what I'd like to find out.

[2018-02-02 01:05] 22459 commented on #171
Ok here's that log:

[code]

[2018-02-02 01:31] krlmlr commented on #171
Thanks, `tikzTest()` doesn't see any problems. (The essential output is `[1] 7.5` at the end, and the fact that it has run successfully. We might want to add a newline.)

@yihui: Do you have experience with LyX + knitr?

[2018-02-02 13:52] 22459 commented on #171
I forgot to mention because I was tired, but it does work if I don't use the tikz device.
Also I tried a simple switch to xetex and it has the same issue, so I think it might not be a lualatex problem.

[2018-02-03 01:33] #167 closed

[2018-02-03 01:34] krlmlr commented on #166
Thanks. Can you please share the output of `tikzTest()`?

[2018-02-03 07:53] jr1234567 commented on #166
Active compiler:
	/usr/local/bin/pdflatex
	pdfTeX 3.14159265-2.6-1.40.18 (TeX Live 2017)
	kpathsea version 6.2.3

Measuring dimensions of: A
Running command: '/usr/local/bin/pdflatex' -interaction=batchmode -halt-on-error -output-directory '/tmp/Rtmp3xtfKd/tikzDevice7ca7644114a1' '/tmp/Rtmp3xtfKd/tikzDevice7ca7644114a1/tikzStringWidthCalc.tex'
This is pdfTeX, Version 3.14159265-2.6-1.40.18 (TeX Li

[2018-02-04 23:17] 22459 commented on #171
Is there anything helpful I can do to make progress with this?

[2018-02-05 03:05] krlmlr commented on #171
I can try running your `.lyx` file. How do I do that?

[2018-02-05 03:50] 22459 commented on #171
You just open it in lyx and find the "render (pdflatex)" or "view" or something in one of the menus. Theres also a toolbar icon for it. It's the eyes. I'd be more specific but I'm in the middle of building it so I can't run it right now.

Does anything seem to be missing?

[2018-02-05 03:58] krlmlr commented on #171
Thanks. Can I run it from the command line?

[2018-02-05 04:35] 22459 commented on #171
Hm. I don't know.

Apparently yes: https://tex.stackexchange.com/questions/175345/how-to-use-lyx-to-create-pdf-file-from-the-command-line

The format for lualatex is pdf5.

[2018-02-05 07:55] EmmanuelCharpentier opened #172 "How to make tikzDevice invoke (pdf|xe|lua)latex with -shell-escape ?"
I am stuck with the following problem :

I a .Rnw file, i want to use the `minted` package, which needs to write files and therefore uses the `-shell-escape` flag on the latex command line. This is done automagically by my working environment (`emacs` + AUCTeX).

When `knitr`ing a `.Rnw` file with an R chink generating a figure :
* `tikzDevice` builds a `.tex` file using (most of) the master file'

[2018-02-05 15:06] yihui commented on #172
We really need to switch to `tinytex::latexmk()` in the future when compiling LaTeX files in this package. It is possible to enable `-shell-escape` in tinytex through an R option.

[2018-02-05 16:02] EmmanuelCharpentier commented on #172
How ?
[code]
Apparently, there is no tinytex-specific option. An the doc doesn't say pip about it.

Unless you mean the `tikz(L|Xel|Lual)atex` options ? I tried to set the `tikzDefaultEngine`, to no avail. I'll try to modify one of these directlty (but not until a few hours...).

[2018-02-05 16:09] yihui commented on #172
Note that tikzDevice does not use tinytex at the moment. If it does in the future, the option would be `options(tinytex.engine_args = '-shell-escape')`.

[2018-02-05 17:50] EmmanuelCharpentier commented on #172
I tried :

to no avail. Same error :

Ditto for :

Really stuck...

[2018-02-05 18:37] yihui commented on #172
You don't need to try anything, because I don't think the current version of tikzDevice supports custom arguments for the LaTeX engine.

[2018-02-05 21:12] EmmanuelCharpentier commented on #172
Okay. My current conclusion is that `tikzDevice` and packages (such as `minted`) needing special LaTeX flags are (currently) mutually incompatible.

One _might_ write  shell script calling LaTeX with the needed flag and trying to convince `tikzDevice` to use that, but that would be 'orribly nonportable and fragile..

IMHO, it's either a design error or a bug. That should be fixed. Even if LaTeX us

[2018-02-05 22:53] yihui commented on #172
The tikzDevice package does not depend on tinytex (at least currently). The dependency in knitr has been documented: https://github.com/yihui/knitr/releases/tag/v1.19

tinytex is a fairly lightweight R dependency, and I should make it clear that it does not require TinyTeX (the custom LaTeX distribution). You can use whatever your favorite LaTeX distribution is.

I'm not interested in convincing y

[2018-02-07 21:51] EmmanuelCharpentier commented on #150
I can confirm that, with the current LuaLaTex (1.0.4) :
* the version of `tikzDevice` available on CRAN (0.10.1, IRC) is faulty ;
* the fix proposed in this issue is insufficient ;
* the version (0.10-5) available on GitHub works correctly.

Shouldn't this latter version be released on CRAN ?

[2018-02-09 03:24] 22459 commented on #171
@krlmlr have you had any luck with it?

[2018-02-13 17:50] elumbella opened #173 "tikzTest() fails"
I'm trying to create a tikz plot inside R. Sadly, that fails. Running tikzText() on my variable fails although it is only a vector containing strings with no special characters. The result is posted below.

Please let me know if you need additional information

[code]

[2018-02-18 18:37] ThomDietrich opened #174 "Redact creation date from file"
Hey guys,
sorry if I didn't find the existing setting for this request.

Every file generated with tikzDevice starts with the following:

[code]

... or similar. Because I'm tracking my project with git, I want to see changes to a file only if real content changed. Right now every time a file is regenerated, the timestamp changes.

Is an option available to suppress the timestamp insertion during

[2018-02-20 22:58] EmmanuelCharpentier commented on #172
Two things :

1. I found a workaround for my `shell-escape` problem : set the chunk option `external` to `FALSE`, and the figure will be compiled during the compilation of the main text, whose options are controlled by AUCTeX. Of course, I lose (part of) the benefit of caching...

2. About `tinytex` : I think that it is a _great_ idea, **provided** that it **doesn't** try to interfere with an exis

[2018-03-10 14:31] krlmlr commented on #150
Thanks. Working on a CRAN release.

[2018-03-10 15:29] krlmlr opened #175 "tinytex"
@yihui: I remember we talked about it, but I'm not sure anymore what has to be done to support *tinytex* in *tikzDevice*. I'd like to release to CRAN soon, because the package is currently orphaned.

[2018-03-10 15:32] krlmlr commented on #174
Running `tikz(..., timestamp = FALSE)` will omit the timestamp.

[2018-03-10 15:32] #174 closed

[2018-03-10 15:33] krlmlr commented on #173
Thanks. Underscores are special to LaTeX. Either use `tikz(..., sanitize = TRUE)` (but then you can't use LaTeX markup in plots), or get rid of the underscores.

[2018-03-10 15:33] #173 closed

[2018-03-10 15:44] krlmlr commented on #171
When running `lyx --export pdf4 HU.lyx` on your document, I'm seeing:

[code]

Changing to `options(tikzDefaultEngine = "xetex")` by editing your `.lyx` document in a text editor allowed me to compile it. Does that help?

[2018-03-10 16:07] yihui commented on #175
Please go ahead and make the release. I don't think I'll have time to work on it in the near future.

[2018-03-10 16:08] krlmlr commented on #175
Thanks.

[2018-03-10 16:08] #175 closed

[2018-03-15 14:35] shedig opened #176 "tikzStringWidthCalc.log is not found (used to work)"
On Windows 10 and R 3.4.3 I get the following error message when running the following short R skript.
I used tikZDevice for several other figures and it always worked...

Measuring dimensions of: m
Running command: "C:\PROGRA~1\MIKTEX~1.9\miktex\bin\x64\pdflatex.exe" -interaction=batchmode -halt-on-error -output-directory "C:\Users\name~1\AppData\Local\Temp\Rtmpc1AUUi\tikzDevice28b0410b1e9e" "C:/

[2018-03-17 00:45] Ashymad commented on #166
I have the same problem with polish accented characters.
Output of tikzTest('ą')
[code]

[2018-03-19 10:41] ThomDietrich commented on #174
And this is in fact documented. Thank you very much!

[2018-03-22 00:36] krlmlr commented on #166
@Ashymad: "Missing character: There is no ą in font ec-lmr12!" is the crucial message, are you sure this particular character can be rendered in a .tex document?

@jr1234567: Measurement looks ok, I really have no idea what's going on.

[2018-03-22 20:01] Ashymad commented on #166
After some digging i found out that, as per [this answer on SE](https://tex.stackexchange.com/questions/311854/only-one-specific-character-missing-when-compiling-with-biber-and-xelatex/311861), `fontenc` package should not be used with unicode-capable engines, however by default `tikzUnicodeMetricPackages` does include it. If I remove it tikzTest('ą') works:
[code]
So, I suppose this should be cha

[2018-03-23 09:27] krlmlr commented on #166
Would you suggest changing the default set of packages for XeTeX?

Some plots do take a very long time to render the first time. Can you share a reproducible example?

[2018-03-24 11:49] jr1234567 commented on #166
Curiously the problem is specific to using ggplot2, as in the following identical graphs (base, lattice and ggplot2)), only ggplot2 graphs hangs, whereas base graphics and lattice graphics works fine.
#######################
library(tikzDevice)
library(lattice)
options(tikzDefaultEngine = "luatex")

tikz(standAlone = TRUE)
xyplot(mpg ~ disp, mtcars, main="é") ##works fine
dev.off()

tikz(standAlon

[2018-03-24 23:49] QuLogic opened #177 "Package is orphaned on CRAN"
Even though 0.11 was just posted a few days ago, CRAN seems to think the package is orphaned. See the [PDF manual](https://cran.r-project.org/web/packages/tikzDevice/tikzDevice.pdf) or check the `DESCRIPTION` file [in CRAN's source tarball](https://cran.r-project.org/src/contrib/tikzDevice_0.11.tar.gz).

This GitHub repo doesn't seem to indicate that this package is orphaned.

[2018-03-28 03:10] jcaldera314 opened #178 "Mitre/miter line join spelling"
In R base graphics, one can specify the linejoin="mitre" option. In tikz, however, this option is spelled "miter." Currently tikzDevice preserves the R spelling when it builds the tikz code. This will generate an error when trying to compile in LaTeX unless one corrects the spelling.

[2018-05-22 21:41] murych opened #180 "TikZ device not converting colorbar from R to TikZ"
Trying to plot some lines, that differs from each other by `Uf` parameter. R creates a colorbar of Uf values, but TikZ device doesn't convert it to TikZ format. Instead it creates a rectangle and put `\pgfimage` inside of it (example below).

Sample data:
[code]

R code for plotting:
[code]

R plot sample
![R plot](https://i.imgur.com/v2fHzmx.png)

Part of TikZ file, containing problematic code
[c

[2018-05-22 21:48] krlmlr commented on #180
The `\pgfimage` looks correct, *tikzDevice* should have created a file with the name `3_2_ras1.png`. Maybe it ended up in the wrong directory?

[2018-06-28 10:43] rstub commented on #177
Thanks for your concern. As new maintainer have just submitted version 0.12 to CRAN.

[2018-06-28 10:43] #177 closed

[2018-07-04 20:00] Ashymad commented on #166
Although I haven't done extensive testing, it seems that this problem is fixed in the development version of ggplot2. I am able to use polish characters in labels and everything works as expected.

[2018-07-12 12:42] zapster opened #181 "ggsave unused argument (filename = filename)"
The following code fails with the current `ggplot2` and `tikzDevice` versions.
[code]
I think the fix for https://github.com/tidyverse/ggplot2/issues/2355 broke `tikzDevice` when used with `ggsave`. Here is the corresponding commit: https://github.com/tidyverse/ggplot2/commit/a06e904cfb60af58cfd0bf9674b481758683298c

[2018-07-16 07:56] vasselai opened #182 "Errors (and broken pdf) when using engine=luatex"
First of all, thanks for this great package!

I usually use tikzDevice with the default engine. However, in order to avoid memory problems when generating a figure that requires high-memory usage, I now need to compile it with luatex. However, when I try to use "engine=luatex" with any plotting, I get some errors and a pdf file that contains code instead of an image.

Here is a minimum reproducibl

[2018-07-16 09:46] #182 closed

[2018-07-25 18:49] kylevoyto commented on #181
I don't know whether my issue relates to `tikzDevice` as well, but I'm getting the same issue with `ggsave unused argument (filename = filename)` after updating to `3.0.0`.

[2018-07-29 16:02] cenuno commented on #164
@krlmlr, is the version you're talking about the `master` branch of this particular repository?

After running
[code]

I receive the following error message after knitting the sample `.rmd` file that @sebastianvelez shared up above:

[code]

[2018-08-02 11:24] rstub commented on #181
Thanks for the report @zapster!

Are you sure that `ggsave("plot.pdf", g, device=pdf)` works correctly? For me it throws the same error message, while `ggsave("plot.pdf", g, device="pdf")` or `ggsave("plot.png", g, device=png)` work correctly.

BTW, here some background for this issue:

https://github.com/daqana/tikzDevice/blob/0086e88a41160f02eb1e4236b731bdb5d242b836/R/tikz.R#L227-L229

Most like

[2018-08-06 08:11] bellackn commented on #181
Hello @zapster,
latest version 0.12.1 fixes this. You can install it by `devtools::install_github("daqana/tikzDevice`. Thanks for reporting this issue!

[2018-08-06 08:12] #181 closed

[2018-08-06 08:37] rstub commented on #181
Alternative installation method if you already have the dependencies installed:
[code]
General method:
[code]

[2018-08-08 09:55] zapster commented on #181
Thanks for fixing!

[2018-08-10 14:19] bellackn commented on #180
Hi @murych,
I am not able to reproduce this error with the code and example data you provided. However, I could observe the same errors when I deleted the `3_2_ras1.png` file that @krlmlr mentioned.
Please check if this file lies in the same folder as the `3_2.tex`.

[2018-08-10 15:01] bellackn commented on #178
Hi @jcaldera314, could you please provide an example of code which does not work as expected? I'm having a hard time trying to find the `linejoin` parameter in the R base graphics.

[2018-08-13 11:59] bellackn commented on #176
Hi @shedig, glad you found a workaround that works for you. However, I tried to reproduce this behavior on a Windows 10 VM without success, everything worked smoothly for me with the code example you provided.

It seems like there is a backslash in your output when there should be a forward slash directly before `tikzStringWidthCalc.log`.

Running on my VM, the path looks correct:

```Running comm

[2018-08-13 12:20] bellackn commented on #171
Closing this issue since it appears to be resolved. Please feel free, if this is still an issue, to leave a comment requesting this issue be reopened.

[2018-08-13 12:20] #171 closed

[2018-08-13 13:51] bellackn commented on #166
Closing this issue since it appears to be resolved. Please feel free, if this is still an issue, to leave a comment requesting this issue be reopened.

[2018-08-13 13:51] #166 closed

[2018-08-13 14:15] bellackn commented on #165
I can confirm that the code you provided works with R 3.4.4 and the current tikzDevice version.

This...

[code]

... produces this:

![test](https://user-images.githubusercontent.com/32039602/44037195-fec70092-9f13-11e8-9b03-3c3bad83c171.png)

I used `engine = "xetex"` because of the "ä" in the xlab.

Closing this issue since it appears to be resolved. Please feel free, if this is still an issue,

[2018-08-13 14:15] #165 closed

[2018-08-13 14:17] bellackn commented on #164
Hi @sebastianvelez, using `options( tikzDefaultEngine = "xetex" )` should indeed solve this, thanks @cenuno!

Closing this issue since it appears to be resolved. Please feel free, if this is still an issue, to leave a comment requesting this issue be reopened.

[2018-08-13 14:17] #164 closed

[2018-08-13 14:26] rstub commented on #163
This was fixed in 677848ce62f276ea38fc93432897cac3b2cb3f64

[2018-08-13 14:26] #163 closed

[2018-08-14 10:34] samawelch commented on #176
Hi, I hope it's alright if I jump in with the same issue. I'm just trying to run the example code in the manual:
[code]
and I get the error:
[code]
with the same backslash when there should be a forward slash.

When I try and compile tikzStringWidthCalc.tex manually using `tinytex::pdflatex()`, compiling fails:
[code]
If I manually change the` \@@end` on the last line to a `\end{tikzpicture}` and

[2018-08-16 08:44] bellackn commented on #176
Hi @samawelch, thanks for reporting!
I finally managed to reproduce this error on a Windows 10 VM with the same program versions you have posted. We will definitely address support for TinyTeX in the future. However, if you need to get it going right now, I'd suggest you give it a shot with TeX Live.
I would recommend the same to you, @shedig. I have not tried it with MikTeX yet, but if you are no

[2018-08-28 20:40] murych commented on #180
Seem like I haven't noticed `3_2_ras1.png` in project directory. @krlmlr , @bellackn thanks for pointing out my mistake. I am really sorry about replying for too long.

[2018-08-28 20:40] #180 closed

[2018-08-29 01:04] jcaldera314 commented on #178
Hi @bellackn, thank you for looking into this. To replicate the error, you apparently have to use the "lmitre=n" option. Modifying your example in the following way should elicit the problem:

[code]

Interestingly, it looks like your original example didn't generate the error because without the lmitre option it didn't even attempt to implement mitre joins in the first place.

[2018-09-02 20:16] EmmanuelCharpentier commented on #172
I have proposed a (partial) [solution](https://github.com/daqana/tikzDevice/pull/185) to this annoyance. There remains problems probably attributable to the way `knitr` invokes its compilers. I consider them a separate issue, since the proposed solution allows a correct compilation using other compiler systems (e. g. AUCTeX...).

HTH,

[2018-09-16 11:35] O-T opened #186 "TikZ annotations for ggplot2"
Hi,

in the original repository by Sharpie, there is an old issue regarding the annotations of ggplot2 with tikzDevice. I took a stab at it here, in the hopes it might be useful: https://github.com/Sharpie/RTikZDevice/issues/39

[2018-09-21 14:07] bellackn commented on #178
Hi @jcaldera314 , sorry for the late reply. You were right, setting `lmitre` elicited the error. This will be fixed in the next development release, thanks for reporting this!
Until then, you can just correct the spelling in the resulting `*.tex` file, as you already mentioned in your initial posting.

[2018-09-24 17:55] WhiskersReneeWe commented on #152
I have the same issue. Really can't figure it out where it went wrong.

[2018-09-24 18:35] WhiskersReneeWe opened #187 "Using Tikz to export a simple graph from R but the .tex file is empty"
Hi, I spent hours trying to research the solutions but I failed. Can anybody help with this issue?
I simply want to transfer R graph into my Latex file on Overleaf, but the .tex file produced by tikzDevice from R is empty.

Here is the simple test code in R:
`install.packages('tikzDevice')
library(tikzDevice)
library(ggplot2)

tikz('plot_first.tex',width=3.5, height=3)
plot(1:10)
dev.off()
`
Here

[2018-09-26 13:07] bellackn commented on #187
Hi @WhiskersReneeWe, this looks like the issue discussed in #176.
What version of Windows are you running, 32 bit or 64 bit? What's your R version?

[2018-09-26 16:17] WhiskersReneeWe commented on #187
Hi @bellackn, Thank you very much!
`Session info -------------------------------------------------------------------------------------------------------
 setting  value
 version  R version 3.4.4 (2018-03-15)
 system   x86_64, mingw32
 ui       RStudio (1.1.442)
 language (EN)
 collate  English_United States.1252
 tz       America/Los_Angeles
 date     2018-09-26

Packages -------------------------

[2018-09-27 10:55] #178 closed

[2018-09-28 14:44] bellackn commented on #178
The fix for this was just merged into the master branch, @jcaldera314. Thanks again for reporting!

[2018-09-28 19:16] jcaldera314 commented on #178
Thank you, @bellackn! Happy to help!

[2018-10-25 09:54] bellackn commented on #187
Hello @WhiskersReneeWe, did you have time yet to test my suggested workaround?

[2018-11-13 02:24] karldw opened #189 "Test "Output regression check" fails"
When I clone the repo and try to run the tests, I get a bunch of messages about "Output regression check" failing [at this line](https://github.com/daqana/tikzDevice/blob/d93d010c6d4d4689fa767b5b9c2c31cff41865e5/tests/testthat/helper_graphics.R#L57). Here's the first one:

[code]

Trimmed session info:
[code]

[2018-11-13 09:00] bellackn commented on #189
Hello @karldw, thanks for reporting. We are aware of this issue and currently working on updating the tests. Unfortunately, we have no ETA for this.
Adding a colorspace argument to `compare_cmd` seems to fix this issue:

https://github.com/daqana/tikzDevice/blob/d93d010c6d4d4689fa767b5b9c2c31cff41865e5/tests/testthat/helper_graphics.R#L134

If I put it like this, it works:

`shQuote(compare_cmd),

[2018-11-13 18:50] karldw commented on #189
Good to know, and thanks for the quick response! I also don't have time to fix this in the near-term, but I'll keep it in mind.

[2018-11-30 16:42] JBGruber commented on #149
I had this problem while using `tinytex`. `tikzTest()` and `tikzTest("m")` did not help. I just solved it with:

[code]
These are just all packages listed in the Vignette but thought some people might be intrested...

[2018-12-20 14:51] Uri92 commented on #176
Still having the same problem ".../tikzStringWidthCalc.log': No such file or directory"

[2019-01-23 20:38] dnkent commented on #152
Longtime fan of tikzDevice here, but out of nowhere am having the same problem as above.

[2019-01-23 20:44] rstub commented on #152
@WhiskersReneeWe , @dnkent: Please post the output of `tikzTest()`, preferably in a new issue.

[2019-02-17 21:19] Uri92 commented on #176
This workaround does not do the trick. Any news on this issue?

[2019-02-20 13:40] rstub commented on #176
@Uri92  and anybody else having this problem: Please post the output of running `tikzDevice::tikzTest()` in the R console.

[2019-02-20 18:51] Uri92 commented on #176
`> tikzDevice::tikzTest()

Active compiler:
	C:\texlive\2018\bin\win32\pdflatex.exe
	pdfTeX 3.14159265-2.6-1.40.19 (TeX Live 2018/W32TeX)
	kpathsea version 6.3.0

Measuring dimensions of: A
Running command: "C:\texlive\2018\bin\win32\pdflatex.exe" -interaction=batchmode -halt-on-error -output-directory "C:\Users\USER\AppData\Local\Temp\Rtmp2h8ns8\tikzDevice351070195eae" "C:/Users/USER/AppData/Loca

[2019-02-21 17:57] rstub commented on #176
Thanks. Can you check if the log file exists in that location. In case you quit the R session, please re-run the command and look at the new location.

[2019-02-22 07:42] Uri92 commented on #176
@rstub tikzStringWidthCalc.log does not exist, however there is a texput.log file

The .tex file contains the following:
`\documentclass[10pt]{article}

\usepackage{tikz}

\usepackage[active,tightpage,psfixbb]{preview}

\PreviewEnvironment{pgfpicture}

\setlength\PreviewBorder{0pt}

\usepackage[T1]{fontenc}

\usetikzlibrary{calc}

\batchmode
\begin{document}
\begin{tikzpicture}
\node[inner sep=0pt

[2019-02-22 09:57] rstub commented on #176
@Uri92 Thanks, the `.tex` file looks fine. The `texput.log` file is probably quite long. Does it contain a line like this

[code]

close to the end of the file?

[2019-02-22 10:00] Uri92 commented on #176
@rstub This is the content of the texput.log file:

`This is pdfTeX, Version 3.14159265-2.6-1.40.19 (TeX Live 2018/W32TeX) (preloaded format=pdflatex 2018.12.20)  22 FEB 2019 08:39
entering extended mode
 restricted \write18 enabled.
 %&-line parsing enabled.
**C:/Users/USER/AppData/Local/Temp/RtmpS0XDWR/tikzDevice3300647a2867/tikzSt
ringWidthCalc.tex
! Emergency stop.
<to be read again>

[2019-02-22 10:43] rstub commented on #176
@Uri92 Thanks for you patience. I was now able to reproduce the issue after creating a test user with a long enough name in my Windows environment. This means that as a workaround you can try to use a user with a short user name.

[2019-02-22 11:45] rstub commented on #176
@Uri92 Can you please try the version from the `issues/176` branch:

[code]

[2019-02-22 19:09] Uri92 commented on #176
@rstub Thank you very much for your support, installing the version you suggested worked!

[2019-02-25 16:05] rstub commented on #176
@Uri92 Thanks for checking. I have now merged this into `master` and put the package unto our `drat` repository, i.e.

[code]

will give you the most recent version. Since there are still some issues with the CI pipeline, it will take some time before a CRAN release, which is why I am keeping this issue open for the time being.

@shedig , @samawelch Can you also check if this fixes the issue for y

[2019-03-01 21:46] rstub commented on #147
I do not think this is an issue with tikzDevize. You are creating a drawing canvas of a certain size and ask ggplot2 to draw onto this canvas. The result produced by tikzDevice has precisely the requested size. However, ggplot2 left more space to the left and right than you would like. It might work out to remove the `use as bounding box` option, producing a tighter cropping via Tikz. However, the

[2019-04-18 19:33] dnkent commented on #152
Problem solved!

I installed Tex Live and then followed the advice from [149](https://github.com/daqana/tikzDevice/issues/149) and ran `tinytex::tlmgr_install(c("pgf", "preview", "ms", "graphics", "pdftex-def", "oberdiek", "ec", "xcolor", "fontspec", "xunicode"))
`

[2019-04-18 19:33] dnkent commented on #149
Nice save @JBGruber , I was having this problem and then used your fix. I'm back in business now. Thanks!!

[2019-08-08 08:38] rstub commented on #176
@shedig , @samawelch This fix has been released to CRAN. Can you please check if this fixes the issue for you?

[2019-09-05 08:12] julianre opened #195 "tikzDevice produces a non-UTF-8 output file on Windows"
The TeX/TikZ files generated by tikzDevice are not encoded in UTF-8 but in the Windows 1252 file encoding (under Windows, see Session Info). This results in a problem, if the plot is included in the main LaTeX document (UTF-8 encoding). In my case (MWE), I receive the following error message:

Error: pandoc document conversion failed with error 1

Minimal working example (RMarkdown file):
[code]

[2019-09-10 10:30] rstub commented on #195
Thanks for the report. Besides the [workarounds mentioned on SO](https://stackoverflow.com/q/57785529/8416610), you could also try to tell LaTeX to read the file using Windows 1252 encoding instead of the default UTF-8:

[code]

(Completely untested since I am not on Windows right now ...)

[2019-10-07 10:29] ThomasWilli opened #196 "TeX was unable to calculate metrics for the following string or character: m"
While I had tikzDevice working nicely, it no longer wants to work for me. When dealing with a simple plot as shown below it gives the above error. I updated all my packages (from dev as suggested here [#114](https://github.com/daqana/tikzDevice/issues/114)) but without success. I used a second machine and got the same error.

    library(tikzDevice)
    tikzDevice::tikz("test.tex", width = 3.5, he

[2019-10-07 10:35] rstub commented on #196
That is a problem. Which TeX distribution do you use? Is `tikz.sty` installed?

[2019-10-07 12:19] ThomasWilli commented on #196
I re-installed MacTeX this morning and I am not able to find `tikz.sty`...

[2019-10-07 12:26] rstub commented on #196
`tikz.sty` should be part of the `pgf` package.

[2019-10-07 12:35] ThomasWilli commented on #196
According to my TeX Live Utility `pgf` is installed...

<img width="811" alt="Screenshot 2019-10-07 at 14 33 07" src="https://user-images.githubusercontent.com/7429228/66311777-94b23900-e90f-11e9-8c41-777847df31be.png">

[2019-10-07 12:39] rstub commented on #196
Can you compile LaTeX documents that use `tikz.sty` independent of R/tikzDevice?
What is the output of `kpsewhich pgf.sty` and `kpsewhich tikz.sty` on the command line?

[2019-10-07 12:43] ThomasWilli commented on #196
I can compile LaTeX documents including `\usepackage{tikz}` without problems. `kpsewhich pgf.sty` and `kpsewhich tikz.sty` return nothing.

[2019-10-07 12:49] rstub commented on #196
Very odd. Just so that I understand your system correctly (I am not a MacTeX user ...): `kpsewhich article.cls` does return the path to the `article.cls` of your TeX installation.

[2019-10-07 12:50] ThomasWilli commented on #196
Yes it does: `~/Library/TinyTeX/texmf-dist/tex/latex/base/article.cls`

[2019-10-07 13:30] rstub commented on #196
Now we are getting somewhere: It seems you have both MacTeX and TinyTeX installed. MacTeX includes pgf and is used by whatever tools you use for normal LaTeX content. TinyTeX does not contain pgf and is probably earlier in `$PATH` than MacTeX and therefore used by `tikzDevice`.

I suggest you decide which TeX installation you want to use and uninstall the other one. In case you want to use TinyTeX

[2019-10-07 13:33] ThomasWilli commented on #196
I deleted TinyTeX and everything seems to work. Thanks for clarifying this to me.

[2019-10-07 15:59] rstub commented on #196
You are welcome.

[2019-10-07 15:59] #196 closed

[2019-10-21 14:06] rstub commented on #195
Maybe related: Encoding problems on Linux at https://stackoverflow.com/q/58401825/8416610

[2019-10-31 14:55] jarauh opened #197 "Problems when using custom class"
I am working with a `knitr` document (.Rnw) that uses a class file (`svjour3.cls`) that lies in the same directory as the main file.  According to `tikzDevice.pdf` (page 34), when `tikzDevice` computes the font metrics, it works in a temporary directory.  For this it tries to look for the class file, which, of course, it cannot find.

Workaround number one: I change the class using `tikzDocumentDe

[2019-11-01 09:43] rstub commented on #197
Have you tried to install the class file into a location where TeX will find it? The precise details for this will depend on the OS and TeX distribution you are using. For me (Linux with TeX Live) this would mean placing the file in a (sub-directory of) `~/texmf/tex/latex`. I think most (all?) TeX distributions know the concept of a personal TEXMF tree (`TEXMFHOME`) that can be used for things lik

[2019-11-01 10:07] jarauh commented on #197
Thanks for the comment.  This should probably work.

However, I am working on the file in a repository together with coauthors.  Thus, to make this workaround work completely, I would need to tell all my coauthors how to install the style file.

I would prefer to have a solution within `tikzDevice`, e.g. an option to specify a directory in which to work.  (But I could understand if that would not

[2019-11-01 10:08] jarauh commented on #197
One more question: could you please tell how the preamble gets copied to the output?  While the documentation tells how to set the document class, it does not tell how to control the preamble.  Or did I miss it?  How does `knitr` inject the preamble?

[2019-11-01 10:27] rstub commented on #197
I am not sure right now where that happens. Can you provide a minimal example for this issue?

[2019-11-30 16:32] bbolker opened #198 "tikz plot fails when using includegraphics{} with local file"
3eb8ad8507140aa779 made tikz do its processing in a temporary directory.  Unfortunately, this breaks my workflow, which used `\includegraphics{}` to include a local file. I'm trying to think of a workaround (I don't want to give an absolute path name ...) (Proximal problem is in `getMetricsFromLatex`: maybe you would want to consider expurgating [this comment](https://github.com/daqana/tikzDevice/

[2019-12-01 11:00] rstub commented on #198
Thanks for a the report. As a workaround you can put the image into a directory where TeX will look for input. Which TeX distribution do you use? I am using TeX Live and putting `crown.png` into `~/texmf/tex/latex/local` made the error go away. I will try to think of a better way to make it work on Windows with long user names.

[2019-12-02 03:23] bbolker commented on #198
thanks for considering this.  This isn't really a workable workaround for me, as this is used in a workflow that's being run by people with very different setups - they won't all have the same TeX setup. I'm wondering if there's some way that's not terribly unwieldy to allow an optional argument specifying external resources (files etc.) that will need to be copied to the TeX working directory ...

[2019-12-02 09:34] rstub commented on #198
Such an optional argument should be possible. Downside is that it has to go through the C code for the graphics device. I can think of another TeX based solution, though: Temporarily set `TEXINPUTS` to include the current working directory:

[code]

I have tested this on TeX Live and expect it to work on derived distributions (MacTeX, ProTeXt, TinyTeX). And MikTeX seems to support this, too:  http

[2019-12-04 00:40] bbolker commented on #198
thanks for the workaround, working for me!

[2019-12-10 10:45] p00ya opened #199 ""pointer being freed was not allocated" in TikZ_Close (tikzInfo->outColorFileName?)"
# Environment
macOS 10.15.1, tikzDevice 0.12.3
platform       x86_64-apple-darwin18.7.0
arch           x86_64
os             darwin18.7.0
system         x86_64, darwin18.7.0
status
major          3
minor          6.1
year           2019
month          07
day            05
svn rev        76782
language       R
version.string R version 3.6.1 (2019-07-05)
nickname       Action of the Toes

# Repro
[c

[2019-12-10 10:47] p00ya commented on #199
Er, miscounted the free()s, I think it's actually

[code]
from https://github.com/daqana/tikzDevice/blob/master/src/tikzDevice.c#L701

[2019-12-10 11:19] p00ya commented on #199
It's possible the heap corruption is being caused by a different package (what I'm calling to generate `bar`), though I can't say for sure since it's difficult to repro.

[2019-12-10 11:23] rstub commented on #199
Please try to find a way to reproduce the issue. Looking at the code it seems that both `tikzInfo->outColorFileName` and `tikzInfo->originalColorFileName` are allocated when the `colorFile` parameter is set. This happens by default, but maybe you are explicitly un-setting this argument?

[2019-12-10 11:27] p00ya commented on #199
I'm not doing anything to explicitly un-set colorFile.  I'm pretty sure it's heap corruption because sometimes the pointer being freed has suspicious values like `0xf000000000000000`.

[2019-12-10 13:07] p00ya commented on #199
I've played around some more with a debugger attached and it looks like in the cases where the error is triggered, `TikZ_Setup` is called but somehow `TikZ_Open` is not.  This would explain why `outColorFileName` is uninitialized.

I'm not expert on the GraphicsDevice API, so I don't really know whether this is expected or not.  But I think the error can be avoided by initializing the pointers in

[2019-12-10 13:13] p00ya commented on #199
Okay, consistent repro is:
create a file `repro.R` with the contents:
[code]

i.e. this opens a TikZ device, doesn't print anything to it, then closes it.  Then call `source("repro.R")`.

[2019-12-18 09:47] jsegarraf opened #201 "generated .tex file truncated at 128 kbytes"
When generating a large .tex file, it grows no more than 131072 bytes (128 kbytes), resulting in an invalid (apparently truncated) file. No error/warning is generated.

It happens with tikzdevice 0.12.3 (Debian package r-cran-tikzdevice 0.12.3-1) , at least, with the following command:
'tikz(file="l2pad1024-2048.tex",width=4,height=4) ; last_plot() ; dev.off()`

Previous version 0.12 was able to g

[2019-12-18 09:55] jsegarraf commented on #201
Tried again and now seems to work, maybe there was some iterfering option...

[2019-12-18 09:55] #201 closed

[2019-12-26 17:47] potash opened #202 "Underscore in names causes TeX error"
I am trying to compile the following Rmd file:

[code]
[code]
! Missing $ inserted.
<inserted text>
                $
l.69 ...interpolate=false]{unnamed-chunk-1-1_ras1}
                                                  };

Quitting from lines 6-11 (test.Rmd)
[code]

[2019-12-28 07:55] rstub commented on #202
This has been asked on SO: https://stackoverflow.com/q/58401825/8416610 Unfortunately I have not found a solution for it at the time. I will look again.

[2020-01-08 01:17] tdhock commented on #197
I am having the same issue, which could be fixed if there was an easy way (option) to tell tikzDevice to do the compilation of the metrics.tex file in the current directory (where I have my custom style file) instead of the temporary directory. Would that be possible/easy to implement?

[2020-01-08 07:29] rstub commented on #197
@tdhock Can you provide a minimal example? The solution for #198 might help here as well.

[2020-01-08 17:36] tdhock commented on #197
Hi @rstub thanks for the quick feedback. I tried setting the TEXINPUTS environment variable as mentioned in that other issue. In principle that should solve my issue, and it does result in latex finding my custom class file, but it also causes another problem (can't find standard article.cls file). Here is the code I used:
[code]
Here is the output I got:
[code]

[2020-01-08 17:39] tdhock commented on #197
btw the workaround I am currently using is to copy these files to a user-specific directory (~/texmf/tex) but that is sub-optimal in the case where there are several users working on the same project. Would be nice if the TEXINPUTS=getwd() thing worked, or something similar.

[2020-01-09 09:50] rstub commented on #197
`TEXINPUTS = getwd()` is not enough, indeed. in #198 I suggested to include the current value along these lines:

[code]
On my system this does work. The crucial thing is that even when `TEXINPUTS` is unset before this, the new value will have a trailing `:` which tells the kpsearch library to also look into system directories.

[2020-01-09 09:59] rstub commented on #197
BTW, another workaround (as suggested on [r-devel](https://stat.ethz.ch/pipermail/r-devel/2020-January/078881.html)) would be to use `\documentclass[nojss]{jss}`:

[code]

[2020-01-11 06:17] tdhock commented on #197
thanks for the clarification. it would be great if you could include this fix in the next CRAN release.

[2020-01-12 16:48] #198 closed

[2020-01-12 16:58] #199 closed

[2020-01-13 22:26] rstub commented on #197
fixed in #203

[2020-01-13 22:26] #197 closed

[2020-01-22 18:09] rstub commented on #202
@potash The current development version of **knitr** solves this problem for me. Can you please verify on your end?

[2020-01-31 22:13] jarauh commented on #197
Thanks @tdhock for providing a minimal example and thanks @rstub  for fixing this.

[2020-02-02 11:08] ChristianDerricks opened #204 "Some problems with lualatex, the character m and the general settings"
By using **options(tikzDefaultEngine = 'luatex')** there are some problems with calculating the character m, there are also a few older posts about that. This is more a report on how to solve some symptoms and give a hints for the developers to fix it. Currently, I have TexLive2019 (vanilla) and tikzDevice (0.12.3) installed. Building is done with TeXstudio (2.12.6) on Linux.

Solving the (my) pro

[2020-02-02 12:33] rstub commented on #204
Can you provide a minimal example that demonstrates your problem? Using `luatex` works for me:

[code]

<sup>Created on 2020-02-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

BTW, `xunicode` has not been used together with `luatex` for quite some time, c.f. https://github.com/daqana/tikzDevice/commit/44a8ca11

[2020-02-02 13:08] ChristianDerricks commented on #204
Thanks for your response.

I believe there was a mistake on my side. First I had some problems with tikzdevice 0.10.1 (version of the Linux package manager, R system library) yesterday and updated to 0.12.3 (R user library). I also updated TexLive to the 2019 version yesterday. Using the manual and trying to narrow done the problem with version 0.10.1 led me to coping the configuration from the ma

[2020-02-02 21:59] rstub commented on #204
Great! I have renamed the issue so that I do not forget about the error in the documentation.

[2020-03-09 16:45] fueralles opened #205 "Path not found of included png"
I have tried to include a tex file from the tikz output in my latex document. Since I did not put it in my main folder but in a subfolder, I always get confusing error messages. If I add the folder path like \pgfimage{path/tikz.tex} before the file name in the \pgfimage command, I can fix the error messages. So it would be pretty good to add an option to add an optional path for the filenames.
If

[2020-03-10 09:59] rstub commented on #205
You could include `path` in the path used by LaTeX to search for images via the `\graphicspath` command. Untested, since you do not give a reproducible example.

[2020-03-10 10:58] fueralles commented on #205
Could you please explain this workaround more in detail. I have added my latex code in the first post. A workaround with the TEXINPUT variable seems to work but is user-unfriendly as I would have to do it for every graphic.

[2020-03-10 13:01] rstub commented on #205
What do you mean by "as I would have to do it for every graphic"? The `TEXINPUTS` environment variable would be a good solution. Setting it to `./images:,current-value>` should solve the issue, e.g. in a bash like shell

[code]

[2020-03-10 15:09] fueralles commented on #205
Some graphics I produce have several png files and I want to have them in separate folders. Furthermore, depending on my latex main file the graphics folder is labeled different. Therefore, I prefer a different solution.

[2020-03-18 13:22] rstub commented on #205
I have now created my own example. R code for producing the image:

[code]
The resulting files `image.tex` and `image_ras1.png` are placed in the sub-directory `tikz`. Main LaTeX file:

[code]

This reproduces the issue since `pgfimage` does not use `\graphicspath`. And there seems to be no analogue to it either. However, the PGF manual actually recommends using `\includegraphics` instead, as long

[2020-05-06 12:25] earcanal commented on #46
Another similar data point. I resolved `Error in getMetricsFromLatex(TeXMetrics, verbose = verbose)` errors under:

    \usepackage[grumpy]{gitinfo2}

with

    \usepackage{gitinfo2}
    \PassOptionsToPackage{grumpy}{gitinfo2}

[2020-05-30 14:12] boltomli commented on #149
This no longer works anymore on TL2020. Still a headache.

[2020-05-30 14:16] boltomli commented on #114
None of the methods works anymore for me on TL2020... it seems from time to time this issue changes...

[2020-05-30 20:22] rstub commented on #149
@boltomli Works for me:
[code]
Please file a new issue.

[2020-06-20 15:19] ascherl commented on #114
I didn't have the problem in like 2 years... it popped up now again. don't know what to do, don't remember what i did last time...

[2020-07-05 00:27] amael-ls opened #207 "tikzCoord bug"
When trying to create a tikz plot, I could not use tikzCoord. Here is a minimum working example to reproduce my problem:
[code]

There is no error in the R console, but the coordinates are all (0,0) in the tex file:
[code]

For information, I am using vscode and my rsession is:
[code]
Using ```devtools::session_info()```:
[code]

[2020-07-05 00:48] amael-ls commented on #207
Well, it seems using this code fixes it (```units = "device"``` is actually what is fixing it):
[code]
In the package, the default argument is ```units = "users"```, maybe there is something to check there...

[2020-07-05 20:17] #207 closed

[2020-09-05 12:32] sgiannerini opened #208 "knitr + tikz fails if \input is used in Rnw"
Dear all,

after updating R, knitr and tikzDevice, a Rnw file that used to compile flawlessly failed to compile and it took me hours
to debug. In brief, if \input or \include is used, the Rnw does not compile, even if the included file is empty. See the following MWE.

[code]

This is the error I get:

[code]

But the file compiles if I comment out the `\input{include}` command and tikz has no pro

[2020-09-10 19:40] sgiannerini commented on #208
UPDATE: By reverting to tikzDevice 0.12 (2018-06-28) the problem disappears

[2020-09-17 11:48] famfigueiredo opened #209 "Fail to create plot using tikzDevice"
Very recent LaTeX user, and I am trying to export one of my  ggplots to LaTeX using tikz.
I manage to create the '.tex' file as recommended in all the examples I have been able to find, but once I try to execute my plot command, I get the following error message:

Measuring dimensions of: \char77
Running command: '/usr/local/bin/pdflatex' -interaction=batchmode -halt-on-error -output-directory '/v

[2020-11-18 13:49] rinzebloem commented on #209
I'm suffering the same issue.

[2020-11-20 18:17] lbelzile commented on #209
Its hard to do anything without a MWE. Based on your log, it appears the problem is due to the lack of installation of the `tikz` package. Try `tinytex::tlmgr_install(pkgs = "tikz")`

[2020-12-18 15:39] rinzebloem commented on #209
The below code returns the same error as @famfigueiredo specified.

`library(tikzDevice)
library(tinytex)
library(filehash)
tinytex::tlmgr_install(pkgs = "tikz")
options(tikzDefaultEngine = 'pdftex')
options(tikzDocumentDeclaration = "\\documentclass[11pt]{report}")

tikz(file = "./Analysis/Figures/Imputation cross-validation/CV imputation boxplot.tex", width = 6.28, height = 4) #max width
df <- m

[2020-12-21 11:20] rinzebloem commented on #209
Adding `tinytex::install_tinytex()` after loading the packages solved the issue for me. Thanks @lbelzile for the help!

[2020-12-22 11:12] rstub commented on #209
@famfigueiredo The error you quote indicates that `tikz.sty` is not installed. This comes with the `pgf` TeX Live package. Is that installed? One way to test this is
[code]
If you are using TinyTeX as TeX distribution you can use `tinytex::tlmgr_install(pkgs = "pgf")` to install this package.

@rinzebloem The same might apply to you. Do you also get `! LaTeX Error: File `tikz.sty' not found.`?

[2020-12-22 11:16] rstub commented on #208
this seems to be very similar to #198 which was fixed in #203. Could you give the current development version via `remotes::install_github("daqana/tikzDevice")` a try?

[2020-12-22 14:03] sgiannerini commented on #208
Dear Ralph,

it appears that with the following setup the problem is no longer present:

`>sessionInfo()

R version 4.0.3 Patched (2020-10-12 r79333)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18363)

Matrix products: default

locale:
[1] LC_COLLATE=Italian_Italy.1252  LC_CTYPE=Italian_Italy.1252
[3] LC_MONETARY=Italian_Italy.1252 LC_NUMERIC=C
[5] LC_TIME=Italia

[2020-12-23 11:38] rinzebloem commented on #209
@rstub I was missing the file `grfext.sty` which I've resolved just now by running

`tinytex::install_tinytex()` after loading the packages in Rstudio

and

`tlmgr install grfext` in the Windows command prompt. Things are running smoothly now. Thanks a lot for the help!

[2021-01-08 13:35] goens commented on #103
This is quite some years later but I have been running onto this issue for a while. Workarounds like lualatex or manually rasterizing do work, but they're not really solving the problem from its root. I saw this (also old) stackoverflow post: https://stackoverflow.com/questions/43565940/reducing-the-output-file-size-of-tikzdevice .

The interesting thing about this post is how they reference the w

[2021-03-01 17:24] inventionate opened #210 "geom_label wrong horizontal padding for uppercase labels"
When I set a label with capital letters, the horizontal spacing is calculated incorrectly:

[code]

Leads to:

<img width="710" alt="Bildschirmfoto 2021-03-01 um 17 46 58" src="https://user-images.githubusercontent.com/872787/109533937-12558680-7abb-11eb-91ab-7134fe581bbb.png">

Maybe I'm doing something wrong? Is there any way to fix this issue?

[2021-03-02 00:58] inventionate commented on #210
Sorry for the noise. I had an error configuring the font metrics. With these settings everything works fine:

[code]

Anyway, thank you for this great package!

[2021-03-02 00:59] #210 closed

[2021-06-10 15:06] jolars opened #211 "Directly creating PDF files"
I sometimes find myself wanting to produce PDF files directly, mostly to be able to automatically crop the resulting figures to avoid excessive margins.

I've created a utility function that looks like this:

[code]

But it would obviously be much neater if this was possible directly through the `tikz()` interface. I'm not sure exactly how graphics devices work in R, but would it be possible to ad

[2021-06-21 14:12] DanielBonnery opened #212 "tikzDevice + R 4.1.0 +ggplot2 = segfault address (nil), cause 'memory not mapped'"
Seg fault.

`lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal
`

`R

R version 4.1.0 (2021-05-18) -- "Camp Pontanezen"
Copyright (C) 2021 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it unde

[2021-06-21 21:29] DanielBonnery commented on #212
`sudo apt-get install r-cran-tikzdevice`
solved the issue...

[2021-06-22 16:02] rstub commented on #212
That is expected since the graphics API has changed. Which version of tikzDevice did you use before?

[2021-06-30 23:37] jamarav commented on #212
I installed with devtools the master branch and I got the same issue with R version 4.1.0. With the previous version (R 4.0.5) I constructed succesfully the master branch. I need the master branch in order to use knitr + tikzDevice using child documents and cutom *.cls classes.

[code]

[2021-07-01 09:16] jamarav commented on #212
Installing the package from the cran repository seems to work but I can build from the repository.

I tried to buid the package with the following options:

- install.packages( 'tikzDevice', repos = 'https://rforge.net', type = 'source' )
- devtools::install_github( 'daqana/tikzDevice' )
- git clone git://github.com/daqana/tikzDevice.git and devtools::install()

The 3 options get the same result w

[2021-07-01 09:34] jamarav opened #213 "Difference between version 0.12.3.2 and 0.12.3.1"
Hi everybody,

I would like to report my expirience with the tikzDevice because I am experiencing problems with the cran version.

I'm writing my phD with knitr and plotting with ggplot and tikzDevice and I only can use the tikzDevice package building it from the master branch. I'm not sure which is the difference between the tikzDevice package version 0.12.3.2 and 0.12.3.1 (cran repository) but t

[2021-07-01 12:11] jamarav commented on #213
Ok. I found the problem. It seems that with the current version in cran we can't include `.tex` files with `\input{}` function in the preamble. Probably, this functionality is only included in the development version. I attached the tikzStringWidthCalc.log file (
[tikzStringWidthCalc.log](https://github.com/daqana/tikzDevice/files/6747895/tikzStringWidthCalc.log)
).
For the moment I will avoid usi

[2021-07-03 12:14] jamarav commented on #213
Ok, now I can print tikz figures from any subdirectory without the `printTikz()` function attached above. The only requirement is to install de custom `*.cls` in the latex distribution. With the development version it is not necessary to install, but we need to locate `*.cls` file in the main folder. I had problems printing from child documents because I didn't put a copy of the `*.cls` file in th

[2021-07-03 12:14] #213 closed

[2021-07-27 17:58] kylebutts commented on #212
I'm facing the same issue. The first function will run and the second fails, so I suspect there is something wrong with ggplot2?

[code]

[2021-12-16 22:17] fkohrt opened #214 "tikzDevice ignores engine passed via dev.args"
When using `tikzDevice` as device when plotting with knitr and rmarkdown, there appear to be differences between using global options and chunk options for setting the PDF engine. I will demonstrate this with a R Markdown document with embedded PDF documents.

Setting `engine = "luatex"` has no effect when using the `dev.args` chunk option, the PDF metadata still indicate `pdfTeX` as creator:

[co

[2022-05-10 09:44] e-molitor opened #215 "tikzDevice problem with R-4.2.0"
Dear tikz gurus,
after installation of R-4.2.0, trying to run tikz, I came across a "graphics API mismatch" error; nothing short of returning to R-4.1.3 remedied the problem. I'd be very happy if someone could point me to an error I may have fallen subject to or some solution.
Kind regards,
Ernst

[2022-05-11 07:29] e-molitor commented on #215
Dear tikz gurus,

deleting /usr/local/lib64/R , recompiling and reinstalling R-4.2.0 and all the nice packages I'm using all the time, including tikzDevice, solved the problem I have described above. I fail to grasp why reinstallation of tikzDevice alone has not led to this result, but I can accept my limited understanding of the details now that tikzDevice works like a charm with R-4.2.0.
Many th

[2022-05-11 07:30] #215 closed

[2022-06-17 16:57] hugotomasf opened #216 "Plot legend size too small for text to fit"
When the plot is generated as an image in RStudio, the legend text fits perfectly but when exported to TikZ the legend size is too
small to fit. Here is the plot generated by R:
![Rplot1](https://user-images.githubusercontent.com/79416297/174341746-63d18c9f-37d1-4730-a378-16b9794ef40b.png)
This is the TikZ image generated in a latex document:
![Screenshot from 2022-06-17 18-46-49](https://user-ima

[2022-07-18 10:58] fditraglia commented on #205
This would be a very helpful change to tikzDevice. Setting TEXINPUT works but is a real pain if you need to collaborate with others.

[2022-07-22 02:55] kongdd opened #217 "`pdftex` fflush() failed (Bad file descriptor)"
Dear Sir,

Could you give some clue how to solve this issue?
PS: I used the tinytex as the latex engine.

[code]

[code]
<sup>Created on 2022-07-22 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-07-24 09:06] rstub commented on #217
Hmm, works for me:

[code]

<sup>Created on 2022-07-24 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

Are you sure you can process LaTeX documents that do not make use of `tikzDevice`? Can you please send the output of `tikzDevice::tikzTest()`?

[2022-07-24 09:17] rstub commented on #216
I get a different result when processing with `tikz(..., standAlone = TRUE)`:

![image](https://user-images.githubusercontent.com/27821131/180640440-4032f11d-2065-4939-aa6c-eaf38f1f14fd.png)

Note that the default Latin Modern font is used in my example. This is also the font whose metrics have been used to place the glyphs. You are using a different font in the final processing, but you are not t

[2022-07-24 10:37] rstub commented on #214
AFAIK this is a conseuqnece of how the `tikzDevice` support has been implemented in `knitr`. The resulting `.tex` file is always processed using `tikzDefaultengine`, c.f. https://github.com/yihui/knitr/blob/master/R/plot.R#L174

This is also documented at https://github.com/yihui/knitr/blob/master/inst/examples/knitr-graphics.Rnw#L249-L251

[2022-07-24 10:42] fkohrt commented on #214
Then this should be an issue of {knitr}. I will create one there.

[2022-07-24 10:42] #214 closed

[2022-07-24 11:19] rstub commented on #212
I have finally merged PR #206 which should fix this issue. Can you please recheck?

[2022-07-25 19:13] kylebutts commented on #212
My comment works for me! That's fantastic, thanks @rstub

[2022-08-05 14:03] alasorous commented on #217
Hi, did you resolve this issue? I have the same issue.

The output of tikzDevice::tikzTest() is

[code]

<sup>Created on 2022-08-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-05 15:17] rstub commented on #217
I haven't heard from @kongdd, so not sure if they were able to solve this.

As for your issue:
* Can you supply the output from the example code on your system?
* Can you use  `tools::texi2dvi(tf,pdf=TRUE)` to process a plain `.tex` file to PDF?

[2022-08-05 15:38] kongdd commented on #217
Thank you @rstub.
Sorry for the later response.
I found it might be the problem of tinytex.

When I change to WSL, everything is fine.

[2022-08-05 16:56] alasorous commented on #217
Thanks for your help. I tried using MiKTeX instead of Tinytex and it worked.

[2022-08-12 16:23] rstub commented on #217
Thanks for the feedback. I might get back to you once I have a better Windows set-up to test this. After all, using TinyTeX should also work out of the box.

[2022-11-18 14:58] bridgeovertroubledhuman commented on #196
I have the same problem, but I do not have tinytex on my computer. Should I make a new post?

[2022-11-18 15:41] bridgeovertroubledhuman commented on #209
I do not have tinytex and I also have this problem (I am on a Mac).